<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>活动列表 activityList</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="renderer" content="webkit" />
	<meta name="viewport" content="width=1100,initial-scale=1,maximum-scale=1,user-scalable=yes">
	
	<link rel="Shortcut Icon" href="../static/favicon.ico">
	<!-- Standard iPad -->  
	<link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="../static/touch-icon-ipad-144.png" />  
	<!-- Retina iPad -->  
	<link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="../static/touch-icon-ipad-144.png" /> 
	<link rel="stylesheet" type="text/css" href="../static/css/main.css"/>
	<link rel="stylesheet" href="../static/css/activitylist.css">
	<!--[if lt IE 9]>
	<script src="../static/js/html5.js"></script>
	<![endif]-->
</head> 
<body>

	<!-- 头部 -->
	<header class="header"> 
		<!-- topbar -->
		<div class="topbar">
			<div class="layout">
				<div class="bar_left">
					<ul>
						<li><span style="color: #fff;">畅想品质生活</span></li>
						<li style="margin-left: 40px;"><span>客服电话：400-996-4866</span></li>
						<li class="WeChat">
							<i></i>
							<div>
								<span><em></em></span>
								<img src="../static/images/WeChat.jpg">
								<p>扫一扫加微信</p>
							</div>
						</li>
						<li class="weibo">
							<a href=""><i></i></a>		
							<!-- <div>
								<span><em></em></span>
								<img src="../static/images/weibo.png">
								<p>扫一扫加微博</p>
							</div> -->
						</li>
					</ul>
				</div>
				<div class="bar_right"  style="display: none;>
					<a href="">登录</a>&nbsp;&nbsp;
					<a href="">注册&nbsp;&nbsp;|&nbsp;</a>
					<a href="">我的订单</a>&nbsp;&nbsp;|
					<a href="">下载APP</a>
				</div>
				<!-- 登陆后显示 -->
				<div class="bar_right">
					<span>欢迎您</span><a href="">boss，</a> 
					<a href="javascript:;">退出</a>&nbsp;&nbsp;|
					<a href="">我的订单</a>&nbsp;&nbsp;|
					<a href="">下载APP</a>
 
				</div>
			</div>
		</div>
		<!-- topbar-end -->
		<!-- logo -->
		<div class="logo">
			<div class="layout">
				<div class="logo_left">
					<!-- logo size 200px*70px -->
					<a href="" class="logoimg">
						<img src="../static/images/login_log.png" alt="">
					</a>
				</div>
				<div class="logo_right">
					<div class="search" >
						<input type="text" placeholder="黑龙江顶级黑木耳">
						<a href="" class=""></a>
					</div>
					<div class="shopping-cart">
						<a href="">
							<span class="badge">12</span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<!-- logo end-->
		<!-- nav -->
		<nav class="nav">
			<div class="layout">
				<ul class="">
					<li><a href="" class="active">首页</a></li>
					<li><a href="">进口食品</a></li>
					<li><a href="">小家电</a></li>
					<li><a href="">养生精品</a></li>
					<li><a href="">精品农业</a></li>
					<li><a href="">茶叶</a></li>
					<li><a href="">户外运动</a></li>
					<li><a href="">厨房电器</a></li>
					<li><a href="">锅具</a></li>
					<li><a href="">生活电器</a></li>
				</ul>
			</div>
		</nav>
		<!-- nav-end -->
		
	</header>
	<!-- 头部结束 -->
	
	<!-- 内容 -->
	<div class="content layout">
			<div class="banner">
					<img src="../static/tempimages/activityListBanner.jpg"/>
			</div>
			<div class="activitylist">
				<div class="list1">
					<div class="LeftImg fn-fl">
						<img src="../static/tempimages/activitylist1.jpg"/>
					</div>
					<div class="listText fn-fl">
						<div>
								<p>
									<span class="title">活动名称</span><span class="date ml20">2018-1-3 15:58:32</span>
								</p>
						</div>
						<div class="text mt30">
							仅五年之后，这座小城的人均GDP已经差不多被深圳追平，和北京的差距也拉近到了1.6倍。在这五年里，东部沿海的一线城市保持稳健发展，而克拉玛依的GDP则从2010年的700亿降至2015年的670亿。
这种停滞和萎缩，是很多内陆资源型城市的命运缩影，这在很大程度上归因于石油、煤炭、钢铁等价格的暴跌
						</div>
						<p class="mt20"><a href="">查看详情 ></a></p>
					</div>
				</div>
				<div class="list1">
					<div class="LeftImg fn-fl">
						<img src="../static/tempimages/activitylist1.jpg"/>
					</div>
					<div class="listText fn-fl">
						<div>
								<p>
									<span class="title">活动名称</span><span class="date ml20">2018-1-3 15:58:32</span>
								</p>
						</div>
						<div class="text mt30">
							仅五年之后，这座小城的人均GDP已经差不多被深圳追平，和北京的差距也拉近到了1.6倍。在这五年里，东部沿海的一线城市保持稳健发展，而克拉玛依的GDP则从2010年的700亿降至2015年的670亿。
这种停滞和萎缩，，和北京的差距也拉近到了1.6倍。在这五年里，东部沿海的一线城市保持稳健发展，而克拉玛依的GDP则从2010年的700亿降至2015年的670亿。
这种停滞和萎缩，是很多内陆资源型城市的命仅五年之后，这座小城的人均GDP已经差不多被深圳追平，和北京的差距也拉近到了1.6倍。在这五年里，东部沿海的一线城市保持稳健发展，而克拉玛依的GDP则从2010年的700亿降至2015年的670亿。
这种停滞和萎缩，是很多内陆资源型城市人均GDP已经差不多被深圳追平，和北京的差距也拉近到了1.6倍。在这五年里，东部沿海的一线城市保持稳健发展，而克拉玛依的GDP则从2010年的700亿降至2015年的670亿。
这种停滞和煤炭、钢铁等价格的暴跌
						</div>
						<p class="mt20"><a href="">查看详情 ></a></p>
					</div>
				</div>
			</div>
			<div class="somePage">
				<a class="iconPagePrev">上一页</a>
				<a class="current">1</a>
				<a>2</a>
				<a>3</a>
				<a class="iconPageNext">下一页</a>
			</div>
    </div>    
	<!-- 内容结束 -->
	
	 <!-- 页脚 -->
   <div class="footer">
   	
   </div>
   <!-- 页脚结束 -->
</body>
</html>