<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>活动专区 activityArea</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="renderer" content="webkit" />
	<meta name="viewport" content="width=1100,initial-scale=1,maximum-scale=1,user-scalable=yes">
	
	<link rel="Shortcut Icon" href="../static/favicon.ico">
	<!-- Standard iPad -->  
	<link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="../static/touch-icon-ipad-144.png" />  
	<!-- Retina iPad -->  
	<link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="../static/touch-icon-ipad-144.png" /> 
	<link rel="stylesheet" type="text/css" href="../static/css/main.css"/>
	<link rel="stylesheet" href="../static/css/activityArea.css">
	<!--[if lt IE 9]>
	<script src="../static/js/html5.js"></script>
	<![endif]-->
</head> 
<body>

	<!-- 头部 -->
	<header>
		<div class="banner">
			<img src="../static/tempimages/areabanner.jpg"/>
		</div>
	</header>
	<!-- 头部结束 -->
	<!-- 内容 -->
	<div class="content layout">
		<!--优惠券开始-->
		<div class="tbox">
			<ul class="shop-coupon clearfix ">
					<!-- 优惠劵最多4个 -->
					<!--有效期按小时的-->
					<li class="available_one" data-timer="2018/2/1 23:23:23"><div>
						<!-- 倒计时样式available_one -->
						<span class="shop-coupon_col-l">满199减50</span>
						<span class="shop-coupon_col-r">
							离结束还有<br/>
							<strong class="rtime">05:41:28</strong>
						</span>
					</div></li>
					<!--有效期按天的-->
					<li  class="available_two"><div>
						<!-- 有效期样式available_two -->
						<span class="shop-coupon_col-l">满199减50</span>
						<span class="shop-coupon_col-r">
							有效期限<br/>
							<strong class="rtime">90天</strong>
						</span>
					</div></li>
					<li class="available_three"><div>
						<!-- 无期限样式available_three -->
						<span class="shop-coupon_col-l">满199减50</span>
						<span class="shop-coupon_col-r">
							<strong class="rtime">无期限</strong>
						</span>
					</div></li>
					<li class="received"><div>
						<!-- 已领取样式received -->
						<span class="shop-coupon_col-l">满199减50</span>
						<span class="shop-coupon_col-r">
							<strong class="rtime">已领取</strong>
						</span>
					</div></li>
				</ul> 
		</div>
		<!--优惠券结束-->
		<div class="xj">
			<div class="xjtitle">
				夏季新款
			</div>
		</div>
		<!--活动图片开始-->
		<div class="goodslist">
			<!--6图片-->
			<div class="goods">
				<div class="imgbox">
					<img src="../static/tempimages/area6.jpg"/>
				</div>
				<p>活动价 ：<span class="price">￥108.50</span></p>
			</div>
			<div class="goods">
				<div class="imgbox">
					<img src="../static/tempimages/area6.jpg"/>
				</div>
				<p>活动价 ：<span class="price">￥108.50</span></p>
			</div>
			<div class="goods">
				<div class="imgbox">
					<img src="../static/tempimages/area6.jpg"/>
				</div>
				<p>活动价 ：<span class="price">￥108.50</span></p>
			</div>
			<div class="goods">
				<div class="imgbox">
					<img src="../static/tempimages/area6.jpg"/>
				</div>
				<p>活动价 ：<span class="price">￥108.50</span></p>
			</div>
			<div class="goods">
				<div class="imgbox">
					<img src="../static/tempimages/area6.jpg"/>
				</div>
				<p>活动价 ：<span class="price">￥108.50</span></p>
			</div>
			<div class="goods">
				<div class="imgbox">
					<img src="../static/tempimages/area6.jpg"/>
				</div>
				<p>活动价 ：<span class="price">￥108.50</span></p>
			</div>
			<!--六张图片结束-->
			<div class="leftgoods">
				<img src="../static/tempimages/areab.jpg"/>
			</div>
			<div class="rightgoods">
				<img src="../static/tempimages/tbright.jpg"/>
			</div>
		</div>
		
		<div class="xj">
			<div class="xjtitle">
				夏季新款
			</div>
		</div>
		<!--活动图片开始-->
		<div class="goodslist">
			<!--6图片-->
			<div class="goods">
				<div class="imgbox">
					<img src="../static/tempimages/area6.jpg"/>
				</div>
				<p>活动价 ：<span class="price">￥108.50</span></p>
			</div>
			<div class="goods">
				<div class="imgbox">
					<img src="../static/tempimages/area6.jpg"/>
				</div>
				<p>活动价 ：<span class="price">￥108.50</span></p>
			</div>
			<div class="goods">
				<div class="imgbox">
					<img src="../static/tempimages/area6.jpg"/>
				</div>
				<p>活动价 ：<span class="price">￥108.50</span></p>
			</div>
			<div class="goods">
				<div class="imgbox">
					<img src="../static/tempimages/area6.jpg"/>
				</div>
				<p>活动价 ：<span class="price">￥108.50</span></p>
			</div>
			<div class="goods">
				<div class="imgbox">
					<img src="../static/tempimages/area6.jpg"/>
				</div>
				<p>活动价 ：<span class="price">￥108.50</span></p>
			</div>
			<div class="goods">
				<div class="imgbox">
					<img src="../static/tempimages/area6.jpg"/>
				</div>
				<p>活动价 ：<span class="price">￥108.50</span></p>
			</div>
			<!--六张图片结束-->
			<div class="leftgoods">
				<img src="../static/tempimages/areab.jpg"/>
			</div>
			<div class="rightgoods">
				<img src="../static/tempimages/tbright.jpg"/>
			</div>
		</div>
	</div>		
	
	
	<!-- 内容结束 -->
	
	<!--优惠券领取-->
	<!--底部开始-->
	<div class="footer mt60">
		<div class="layout footer_link clearfix">
			<ul class="footer_col_1">
				<li>关于我们</li>
				<li><a href="">公司简介</a></li>
				<li><a href="">公司简介</a></li>
				<li><a href="">联系我们</a></li>			
			</ul>
			<ul class="footer_col_2">
				<li>订单服务</li>
				<li><a href="">购买指南</a></li>
				<li><a href="">支付方式</a></li>
				<li><a href="">送货政策</a></li>
			</ul>
			<ul class="footer_col_3">
				<li>关注我们</li>
				<li><a href="">新浪微博</a></li>
				<li><a href="">官方微信</a></li>
			</ul>
			<ul class="footer_col_4">
				<li style="font-size: 24px;">400-996-4866</li>
				<li>周一至周五 9:00 - 18:00 (仅工作日)</li>
			</ul>
			<ul class="footer_col_5">
				<li>
					<img src="../static/images/appdown.png" alt="">
					<p>下载APP</p>
				</li>
			</ul>
		</div>	
		<div class="layout footer_bar">
			<p>小满精品电子商务（大连）有限公司 &copy;2017-2018    备案号：辽ICP备17017511号-1</p>
		</div> 
	</div>
	<!--底部结束-->
<script src="../static/js/jquery.min.js"></script>	
<script src="../static/js/activityArea.js" type="text/javascript" charset="utf-8"></script>

</body>
</html>