<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>产品详情</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="renderer" content="webkit" />
	<meta name="viewport" content="width=1000,initial-scale=1,maximum-scale=1,user-scalable=yes">

	<link rel="Shortcut Icon" href="../static/favicon.ico">
	<!-- Standard iPad -->
	<link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="../static/touch-icon-ipad-144.png" />
	<!-- Retina iPad -->
	<link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="../static/touch-icon-ipad-144.png" />
	<link rel="stylesheet" href="../static/css/main.css">
	<link rel="stylesheet" href="../static/css/product_information.css">
	<!--[if lt IE 9]>
	<script src="../static/js/html5.js"></script>
	<![endif]-->
</head>

<body>
	<!-- 头部开始 -->
	<header class="header">
		<!-- topbar -->
		<div class="topbar">
			<div class="layout">
				<div class="bar_left">
					<ul>
						<li><span style="color: #fff;">畅想品质生活</span></li>
						<li style="margin-left: 40px;"><span>客服电话：400-996-4866</span></li>
						<li class="WeChat">
							<i></i>
							<div>
								<span><em></em></span>
								<img src="../static/images/appdown.png">
								<p>扫一扫加微信</p>
							</div>
						</li>
						<li class="weibo">
							<a href=""><i></i></a>
							<!-- <div>
									<span><em></em></span>
									<img src="../static/images/weibo.png">
									<p>扫一扫加微博</p>
								</div> -->
						</li>
					</ul>
				</div>
				<div class="bar_right" style="display: none;">
					<a href="">登录</a>&nbsp;&nbsp;
					<a href="">注册&nbsp;&nbsp;|&nbsp;</a>
					<a href="">我的订单</a>&nbsp;&nbsp;|
					<a href="">下载APP</a>
				</div>
				<!-- 登陆后显示 -->
				<div class="bar_right">
					<span>欢迎您</span><a href="">boss，</a>
					<a href="javascript:;">退出</a>&nbsp;&nbsp;|
					<a href="">我的订单</a>&nbsp;&nbsp;|
					<a href="">下载APP</a>

				</div>
			</div>
		</div>
		<!-- topbar-end -->
		<!-- logo -->
		<div class="logo">
			<div class="layout">
				<div class="logo_left">
					<!-- logo size 200px*70px -->
					<a href="" class="logoimg">
							<img src="../static/images/login_log.png" alt="">
						</a>
				</div>
				<div class="logo_right">
					<div class="search">
						<input type="text" placeholder="黑龙江顶级黑木耳">
						<a href="" class=""></a>
					</div>
					<div class="shopping-cart">
						<a href="">
								<span class="badge">12</span>
							</a>
					</div>
				</div>
			</div>
		</div>
		<!-- logo end-->
		<!-- nav -->
		<nav class="nav">
			<div class="layout">
				<ul class="">
					<li><a href="" class="active">首页</a></li>
					<li><a href="">进口食品</a></li>
					<li><a href="">小家电</a></li>
					<li><a href="">养生精品</a></li>
					<li><a href="">精品农业</a></li>
					<li><a href="">茶叶</a></li>
					<li><a href="">户外运动</a></li>
					<li><a href="">厨房电器</a></li>
					<li><a href="">锅具</a></li>
					<li><a href="">生活电器</a></li>
				</ul>
			</div>
		</nav>
		<!-- nav-end -->
	</header>
	<!-- 头部结束 -->
	<!-- 产品详情样式 -->
	<div class="content">
		<div id="product" class="layout clearfix">
			<div class="product_picture fn-fl">
				<div id="vertical" class="bigImg">
					<img src="../temp/X1.png" alt="" id="midimg" />
					<div style="display:none;" id="winSelector"></div>
				</div>
				<div class="smallImg">
					<div id="imageMenu">
						<ul>
							<li class="active" class="onlickImg"><img src="../temp/X1.png" /></li>
							<li class="onlickImg"><img src="../temp/X2.png" /></li>
							<li class="onlickImg"><img src="../temp/X3.png" /></li>
							<li class="onlickImg"><img src="../temp/X4.png" /></li>
							<li class="onlickImg"><img src="../temp/X5.png" /></li>
						</ul>

					</div>
				</div>
				<!--smallImg end-->
				<div id="bigView" style="display:none;"><img width="800" height="800" alt="" src="" /></div>
				<div id="share" class="clearfix">
					<span class="fn-fl">分享到：</span>
					<a title="分享到微信" class="bshare-weixin" href=""></a>
					<a title="分享到QQ" class="bshare-qqim" href=""></a>
					<a title="分享到新浪微博" class="bshare-sinaminiblog" href=""></a>
					<a title="分享到人人网" class="bshare-renren"></a>
					<a title="分享到QQ空间" class="bshare-qzone" href=""></a>
				</div>
			</div>
			<ul class="product_contain fn-fl">
				<li class="product_title">
					<p class="title">苏泊尔（SUPOR）电水壶热水壶电热水壶 1.7L</p>
					<p class="tips">
						<span>新品</span> 小满双12，全场包邮秒杀到底
					</p>
					<p class="describe">1.7L大容量，英国品牌温控器，全封闭无缝一体式内胆，食品级304不锈钢材质</p>
				</li>
				<li class="container_list">
					<p class="point">
						<span class="bonus">¥<span>98.00</span></span>
						<span class="price">¥<span>88.00</span></span>
						<span class="coupon">满300减80元</span>
						<!-- 立即领取  receive   已领取   received -->
						<span class="receive">立即领取></span>
					</p>
					<div class="color_type clearfix">
						<span class="type_color">颜&nbsp;&nbsp;&nbsp;&nbsp;色：</span>
						<p class="type_list">
							<span class="type_item">橙色<i></i></span>
							<span class="type_item active">
								黑色
								<i></i>
							</span>
							<span class="type_item">红色<i></i></span>
						</p>
					</div>
					<div class="exchange">
						<span class="type_num">数&nbsp;&nbsp;&nbsp;&nbsp;量：</span>
						<div id="calculation">
							<span class="reduce">-</span>
							<!-- data-stock为库存量 -->
							<input class="calculation_input" value="1" data-stock="8">
							<span class="add">+</span>
						</div>
						<span class="zx_stock">(剩余<span class="stock">8</span>件)</span>
					</div>
				</li>
				<li class="product clearfix">
					<a href="" class="fn_btn purchase">立即购买</a>
					<a href="" class="fn_btn cart">加入购物车</a>
					<a href="javascript:;" class="collection"><i></i><span>收藏</span></a>
				</li>
				<li class="product_tip">
					<p>
						<span>正品行货品质保证</span>
					</p>
					<p class="pt15">
						<span>全场商品满99元包邮（仅中国大陆，不含香港、澳门台湾、西藏、新疆以及其他国家）</span>
					</p>
				</li>
			</ul>
		</div>

		<div id="product_information" class="layout">
			<ul class="product_list clearfix">
				<li>商品详情</li>
				<li class="active">评价(<span>6</span>)</li>
			</ul>
			<div class="product_info">
				<!-- 商品详情 -->
				<div class="fn_info">
					<img src="../temp/4.jpg" alt="">
					<img src="../temp/5.jpg" alt="">
					<img src="../temp/6.jpg" alt="">
				</div>
				<!-- 商品评价 -->
				<div class="fn_evaluate show">
					<ul class="evaluate_list">
						<li class="item clearfix">
							<div class="imgs">
								<img src="../temp/1.jpg" alt="">
								<span>xxxxx</span>
							</div>
							<div class="infor">
								<p class="start">
									<span></span>
									<span></span>
									<span></span>
									<span></span>
									<span></span>
								</p>
								<p class="text">
									<span>很方便，从此烧水都不用看管了，唯一不足就是容量有点小了，一家三口的话一天要烧好几壶水</span>
								</p>
								<p class="images">
									<img src="../temp/1.jpg" alt="">
									<img src="../temp/2.jpg" alt="">
								</p>
								<p class="data">
									<span>2017-12-13 14:20:04</span>
								</p>
							</div>
						</li>
						<li class="item clearfix">
							<div class="imgs">
								<img src="../temp/1.jpg" alt="">
								<span>张先生</span>
							</div>
							<div class="infor">
								<p class="start">
									<span></span>
									<span></span>
									<span></span>
									<span></span>
									<span></span>
								</p>
								<p class="text">
									<span>很方便，从此烧水都不用看管了，唯一不足就是容量有点小了，一家三口的话一天要烧好几壶水</span>
								</p>
								<p class="images">
									<img src="../temp/1.jpg" alt="">
									<img src="../temp/2.jpg" alt="">
								</p>
								<p class="data">
									<span>2017-12-13 14:20:04</span>
								</p>
							</div>
						</li>
						<li class="item clearfix">
							<div class="imgs">
								<img src="../temp/1.jpg" alt="">
								<span>183****5481</span>
							</div>
							<div class="infor">
								<p class="start">
									<span></span>
									<span></span>
									<span></span>
									<span></span>
									<span></span>
								</p>
								<p class="text">
									<span>很方便，从此烧水都不用看管了，唯一不足就是容量有点小了，一家三口的话一天要烧好几壶水很方便，从此烧水都不用看管了，唯一不足就是容量有点小了，一家三口的话一天要烧好几壶水很方便，从此烧水都不用看管了，唯一不足就是容量有点小了，一家三口的话一天要烧好几壶水</span>
								</p>
								<p class="images">
									<img src="../temp/1.jpg" alt="">
									<img src="../temp/2.jpg" alt="">
									<img src="../temp/1.jpg" alt="">
									<img src="../temp/2.jpg" alt="">
									<img src="../temp/1.jpg" alt="">
									<img src="../temp/2.jpg" alt="">
								</p>
								<p class="data">
									<span>2017-12-13 14:20:04</span>
								</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- 页脚 -->
	<div class="footer mt60">
		<div class="layout footer_link clearfix">
			<ul class="footer_col_1">
				<li>关于我们</li>
				<li><a href="">公司简介</a></li>
				<li><a href="">公司简介</a></li>
				<li><a href="">联系我们</a></li>
			</ul>
			<ul class="footer_col_2">
				<li>订单服务</li>
				<li><a href="">购买指南</a></li>
				<li><a href="">支付方式</a></li>
				<li><a href="">送货政策</a></li>
			</ul>
			<ul class="footer_col_3">
				<li>关注我们</li>
				<li><a href="">新浪微博</a></li>
				<li><a href="">官方微信</a></li>
			</ul>
			<ul class="footer_col_4">
				<li style="font-size: 24px;">400-996-4866</li>
				<li>周一至周五 9:00 - 18:00 (仅工作日)</li>
			</ul>
			<ul class="footer_col_5">
				<li>
					<img src="../static/images/appdown.png" alt="">
					<p>下载APP</p>
				</li>
			</ul>
		</div>
		<div class="layout footer_bar">
			<p>小满精品电子商务（大连）有限公司 &copy;2017-2018 备案号：辽ICP备17017511号-1</p>
		</div>
	</div>
	<!-- 右侧导航 -->
	<div class="nav_sidebar_right">
		<ul>
			<li><a href="" class="contact"></a></li>
			<li><a href="" class="weixin"></a></li>
			<li><a href="" class="weibo"></a></li>
			<li><a href="" class="backtop"></a></li>
		</ul>
	</div>
	<script type="text/javascript" src="../static/js/jquery.min.js"></script>
	<!-- <script src="../static/js/modernizr-custom-v2.7.1.min.js"></script> -->
	<script src="../static/js/common.js"></script>
	<script src="../static/js/banner_list.js"></script>
	<script>
		$(document).ready(function () {

			// 选择商品颜色
			$('.type_item').click(function () {
				$(this).addClass('active').siblings().removeClass('active');
				$('.describe').find('.color').text($('.type_item.active').text())
				return false;
			})
			// 收藏点击变颜色
			$('.collection').click(function () {
				if ($('.collection').hasClass('active')) {
					$(this).removeClass('active');
				} else {
					$(this).addClass('active')
				}

			});
			// $('#imageMenu').find('li').click(function () {
			// 	$(this).addClass('active').siblings().removeClass('active')
			// 	return false;
			// });

			// 商品详情和商品评价切换
			$('#product_information').find('.product_list').on('click', 'li', function () {
				$(this).addClass('active').siblings().removeClass('active');
				$('#product_information .product_info').find('div').eq($(this).index()).addClass('show').siblings().removeClass('show')
			})
			//点击评价图片放大
			$('.evaluate_list').on('click', '.item .images img', function () {
                if($(this).hasClass('large')){
					$(this).removeClass('large');
				}else{
					$(this).addClass('large');
					$(this).siblings('img').removeClass('large');
				}
			})
		})
	</script>
</body>

</html>