<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>小满精品商城</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="renderer" content="webkit" />
	<meta name="viewport" content="width=1100,initial-scale=1,maximum-scale=1,user-scalable=yes">
	
	<link rel="Shortcut Icon" href="../static/favicon.ico">
	<!-- Standard iPad -->  
	<link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="../static/touch-icon-ipad-144.png" />  
	<!-- Retina iPad -->  
	<link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="../static/touch-icon-ipad-144.png" /> 
	<link rel="stylesheet" href="../static/css/main.css">
	<link rel="stylesheet" href="../static/css/shop.css">
	<!--[if lt IE 9]>
	<script src="../static/js/html5.js"></script>
	<![endif]-->
</head> 
<body>
	<header class="header"> 
		<!-- topbar -->
		<div class="topbar">
			<div class="layout">
				<div class="bar_left">
					<ul>
						<li><span style="color: #fff;">畅想品质生活</span></li>
						<li style="margin-left: 40px;"><span>客服电话：400-996-4866</span></li>
						<li class="WeChat">
							<i></i>
							<div>
								<span><em></em></span>
								<img src="../static/images/appdown.png">
								<p>扫一扫加微信</p>
							</div>
						</li>
						<li class="weibo">
							<a href=""><i></i></a>		
							<!-- <div>
								<span><em></em></span>
								<img src="../static/images/weibo.png">
								<p>扫一扫加微博</p>
							</div> -->
						</li>
					</ul>
				</div>
				<div class="bar_right"  style="display: none;">
					<a href="">登录</a>&nbsp;&nbsp;
					<a href="">注册&nbsp;&nbsp;|&nbsp;</a>
					<a href="">我的订单</a>&nbsp;&nbsp;|
					<a href="">下载APP</a>
				</div>
				<!-- 登陆后显示 -->
				<div class="bar_right">
					<span>欢迎您</span><a href="">boss，</a> 
					<a href="javascript:;">退出</a>&nbsp;&nbsp;|
					<a href="">我的订单</a>&nbsp;&nbsp;|
					<a href="">下载APP</a>
 
				</div>
			</div>
		</div>
		<!-- topbar-end -->
		<!-- logo -->
		<div class="logo">
			<div class="layout">
				<div class="logo_left">
					<!-- logo size 200px*70px -->
					<a href="" class="logoimg">
						<img src="../static/images/login_log.png" alt="">
					</a>
				</div>
				<div class="logo_right">
					<div class="search" >
						<input type="text" placeholder="黑龙江顶级黑木耳">
						<a href="" class=""></a>
					</div>
					<div class="shopping-cart">
						<a href="">
							<span class="badge">12</span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<!-- logo end-->
		<!-- nav -->
		<nav class="nav">
			<div class="layout">
				<ul class="">
					<li><a href="">首页</a></li>
					<li><a href="">进口食品</a></li>
					<li><a href="">小家电</a></li>
					<li><a href="">养生精品</a></li>
					<li><a href="">精品农业</a></li>
					<li><a href="">茶叶</a></li>
					<li><a href="">户外运动</a></li>
					<li><a href="">厨房电器</a></li>
					<li><a href="">锅具</a></li>
					<li><a href="">生活电器</a></li>
				</ul>
			</div>
		</nav>
		<!-- nav-end -->
	</header>
	<!-- 头部结束 -->
	<!-- 内容 -->
	<div class="content">
		<div class="layout">
			<div class="shop-hd">
				<div class="shop-name">
					<p>xxx店铺名称</p>
					<a href="">联系店长</a>
				</div>
				<ul class="shop-coupon clearfix ">
					<!-- 优惠劵最多4个 -->
					<li class="available_one" data-timer="2018/2/1 23:23:23"><div>
						<!-- 倒计时样式available_one -->
						<span class="shop-coupon_col-l">满199减50</span>
						<span class="shop-coupon_col-r">
							离结束还有<br/>
							<strong class="rtime">05:41:28</strong>
						</span>
					</div></li>
					<li  class="available_one" data-timer="2018/2/2 9:34:0"><div>
						<!-- 有效期样式available_two -->
						<span class="shop-coupon_col-l">满199减50</span>
						<span class="shop-coupon_col-r">
							有效期限<br/>
							<strong class="rtime">90天</strong>
						</span>
					</div></li>
					<li class="available_three"><div>
						<!-- 无期限样式available_three -->
						<span class="shop-coupon_col-l">满199减50</span>
						<span class="shop-coupon_col-r">
							<strong class="rtime">无期限</strong>
						</span>
					</div></li>
					<li class="received"><div>
						<!-- 已领取样式received -->
						<span class="shop-coupon_col-l">满199减50</span>
						<span class="shop-coupon_col-r">
							<strong class="rtime">已领取</strong>
						</span>
					</div></li>
					
				</ul> 
			</div>
			<div class="shop-bd mt60">
				<div class="layout">
					<div class="retrieval">
						排序 : <a href="" class="active">默认</a>  <a href="" class="retrieval-money">价格 <span class="arrow-top"></span><span class="arrow-bottom"></span></a>
					</div>
				<ul class="item-bd-d mt20 clearfix">
					<li><a href="">
						<div class="item-pic">
							<img src="../temp/item_2_1.jpg" alt="" />
						</div>
						<div>
							<p class="type"><span class="type-new">新品</span><span class="type-campaign">活动促销</span></p>
							<p class="brief">苏泊尔  一款容量为1.7L的电水壶</p>
							<p class="money">&yen;&nbsp;999.00</p>
						</div>
					</a></li>
					<li><a href="">
						<div class="item-pic">
							<img src="../temp/item_2_1.jpg" alt="" />
						</div>
						<div>
							<p class="type"><span class="type-new">新品</span></p>
							<p class="brief">苏泊尔  一款容量为1.7L的电水壶</p>
							<p class="money">&yen;&nbsp;999.00</p>
						</div>
					</a></li>
					<li><a href="">
						<div class="item-pic">
							<img src="../temp/item_2_1.jpg" alt="" />
						</div>
						<div>
							<p class="type"><span class="type-campaign">活动促销</span></p>
							<p class="brief">苏泊尔  一款容量为1.7L的电水壶</p>
							<p class="money">&yen;&nbsp;999.00</p>
						</div>
					</a></li>
					<li><a href="">
						<div class="item-pic">
							<img src="../temp/item_2_1.jpg" alt="" />
						</div>
						<div>
							<p class="type"></p>
							<p class="brief">苏泊尔  一款容量为1.7L的电水壶</p>
							<p class="money">&yen;&nbsp;999.00</p>
						</div>
					</a></li>
					<li><a href="">
						<div class="item-pic">
							<img src="../temp/item_2_1.jpg" alt="" />
						</div>
						<div>
							<p class="type"><span class="type-new">新品</span><span class="type-campaign">活动促销</span></p>
							<p class="brief">苏泊尔  一款容量为1.7L的电水壶</p>
							<p class="money">&yen;&nbsp;999.00</p>
						</div>
					</a></li>
					<li><a href="">
						<div class="item-pic">
							<img src="../temp/item_2_1.jpg" alt="" />
						</div>
						<div>
							<p class="type"><span class="type-new">新品</span></p>
							<p class="brief">苏泊尔  一款容量为1.7L的电水壶</p>
							<p class="money">&yen;&nbsp;999.00</p>
						</div>
					</a></li>
					<li><a href="">
						<div class="item-pic">
							<img src="../temp/item_2_1.jpg" alt="" />
						</div>
						<div>
							<p class="type"><span class="type-campaign">活动促销</span></p>
							<p class="brief">苏泊尔  一款容量为1.7L的电水壶</p>
							<p class="money">&yen;&nbsp;999.00</p>
						</div>
					</a></li>
					<li><a href="">
						<div class="item-pic">
							<img src="../temp/item_2_1.jpg" alt="" />
						</div>
						<div>
							<p class="type"></p>
							<p class="brief">苏泊尔  一款容量为1.7L的电水壶</p>
							<p class="money">&yen;&nbsp;999.00</p>
						</div>
					</a></li>
					<li><a href="">
						<div class="item-pic">
							<img src="../temp/item_2_1.jpg" alt="" />
						</div>
						<div>
							<p class="type"><span class="type-new">新品</span><span class="type-campaign">活动促销</span></p>
							<p class="brief">苏泊尔  一款容量为1.7L的电水壶</p>
							<p class="money">&yen;&nbsp;999.00</p>
						</div>
					</a></li>
					<li><a href="">
						<div class="item-pic">
							<img src="../temp/item_2_1.jpg" alt="" />
						</div>
						<div>
							<p class="type"><span class="type-new">新品</span></p>
							<p class="brief">苏泊尔  一款容量为1.7L的电水壶</p>
							<p class="money">&yen;&nbsp;999.00</p>
						</div>
					</a></li>
					<li><a href="">
						<div class="item-pic">
							<img src="../temp/item_2_1.jpg" alt="" />
						</div>
						<div>
							<p class="type"><span class="type-campaign">活动促销</span></p>
							<p class="brief">苏泊尔  一款容量为1.7L的电水壶</p>
							<p class="money">&yen;&nbsp;999.00</p>
						</div>
					</a></li>
					<li><a href="">
						<div class="item-pic">
							<img src="../temp/item_2_1.jpg" alt="" />
						</div>
						<div>
							<p class="type"></p>
							<p class="brief">苏泊尔  一款容量为1.7L的电水壶</p>
							<p class="money">&yen;&nbsp;999.00</p>
						</div>
					</a></li>
					<li><a href="">
						<div class="item-pic">
							<img src="../temp/item_2_1.jpg" alt="" />
						</div>
						<div>
							<p class="type"><span class="type-new">新品</span><span class="type-campaign">活动促销</span></p>
							<p class="brief">苏泊尔  一款容量为1.7L的电水壶</p>
							<p class="money">&yen;&nbsp;999.00</p>
						</div>
					</a></li>
					<li><a href="">
						<div class="item-pic">
							<img src="../temp/item_2_1.jpg" alt="" />
						</div>
						<div>
							<p class="type"><span class="type-new">新品</span></p>
							<p class="brief">苏泊尔  一款容量为1.7L的电水壶</p>
							<p class="money">&yen;&nbsp;999.00</p>
						</div>
					</a></li>
					<li><a href="">
						<div class="item-pic">
							<img src="../temp/item_2_1.jpg" alt="" />
						</div>
						<div>
							<p class="type"><span class="type-campaign">活动促销</span></p>
							<p class="brief">苏泊尔  一款容量为1.7L的电水壶</p>
							<p class="money">&yen;&nbsp;999.00</p>
						</div>
					</a></li>
					<li><a href="">
						<div class="item-pic">
							<img src="../temp/item_2_1.jpg" alt="" />
						</div>
						<div>
							<p class="type"></p>
							<p class="brief">苏泊尔  一款容量为1.7L的电水壶</p>
							<p class="money">&yen;&nbsp;999.00</p>
						</div>
					</a></li>
					<li><a href="">
						<div class="item-pic">
							<img src="../temp/item_2_1.jpg" alt="" />
						</div>
						<div>
							<p class="type"><span class="type-new">新品</span><span class="type-campaign">活动促销</span></p>
							<p class="brief">苏泊尔  一款容量为1.7L的电水壶</p>
							<p class="money">&yen;&nbsp;999.00</p>
						</div>
					</a></li>
					<li><a href="">
						<div class="item-pic">
							<img src="../temp/item_2_1.jpg" alt="" />
						</div>
						<div>
							<p class="type"><span class="type-new">新品</span></p>
							<p class="brief">苏泊尔  一款容量为1.7L的电水壶</p>
							<p class="money">&yen;&nbsp;999.00</p>
						</div>
					</a></li>
					<li><a href="">
						<div class="item-pic">
							<img src="../temp/item_2_1.jpg" alt="" />
						</div>
						<div>
							<p class="type"><span class="type-campaign">活动促销</span></p>
							<p class="brief">苏泊尔  一款容量为1.7L的电水壶</p>
							<p class="money">&yen;&nbsp;999.00</p>
						</div>
					</a></li>
					<li><a href="">
						<div class="item-pic">
							<img src="../temp/item_2_1.jpg" alt="" />
						</div>
						<div>
							<p class="type"></p>
							<p class="brief">苏泊尔  一款容量为1.7L的电水壶</p>
							<p class="money">&yen;&nbsp;999.00</p>
						</div>
					</a></li>
					<li><a href="">
						<div class="item-pic">
							<img src="../temp/item_2_1.jpg" alt="" />
						</div>
						<div>
							<p class="type"><span class="type-new">新品</span><span class="type-campaign">活动促销</span></p>
							<p class="brief">苏泊尔  一款容量为1.7L的电水壶</p>
							<p class="money">&yen;&nbsp;999.00</p>
						</div>
					</a></li>
					<li><a href="">
						<div class="item-pic">
							<img src="../temp/item_2_1.jpg" alt="" />
						</div>
						<div>
							<p class="type"><span class="type-new">新品</span></p>
							<p class="brief">苏泊尔  一款容量为1.7L的电水壶</p>
							<p class="money">&yen;&nbsp;999.00</p>
						</div>
					</a></li>
					<li><a href="">
						<div class="item-pic">
							<img src="../temp/item_2_1.jpg" alt="" />
						</div>
						<div>
							<p class="type"><span class="type-campaign">活动促销</span></p>
							<p class="brief">苏泊尔  一款容量为1.7L的电水壶</p>
							<p class="money">&yen;&nbsp;999.00</p>
						</div>
					</a></li>
					<li><a href="">
						<div class="item-pic">
							<img src="../temp/item_2_1.jpg" alt="" />
						</div>
						<div>
							<p class="type"></p>
							<p class="brief">苏泊尔  一款容量为1.7L的电水壶</p>
							<p class="money">&yen;&nbsp;999.00</p>
						</div>
					</a></li>
					<li><a href="">
						<div class="item-pic">
							<img src="../temp/item_2_1.jpg" alt="" />
						</div>
						<div>
							<p class="type"><span class="type-new">新品</span><span class="type-campaign">活动促销</span></p>
							<p class="brief">苏泊尔  一款容量为1.7L的电水壶</p>
							<p class="money">&yen;&nbsp;999.00</p>
						</div>
					</a></li>
					<li><a href="">
						<div class="item-pic">
							<img src="../temp/item_2_1.jpg" alt="" />
						</div>
						<div>
							<p class="type"><span class="type-new">新品</span></p>
							<p class="brief">苏泊尔  一款容量为1.7L的电水壶</p>
							<p class="money">&yen;&nbsp;999.00</p>
						</div>
					</a></li>
					<li><a href="">
						<div class="item-pic">
							<img src="../temp/item_2_1.jpg" alt="" />
						</div>
						<div>
							<p class="type"><span class="type-campaign">活动促销</span></p>
							<p class="brief">苏泊尔  一款容量为1.7L的电水壶</p>
							<p class="money">&yen;&nbsp;999.00</p>
						</div>
					</a></li>
					<li><a href="">
						<div class="item-pic">
							<img src="../temp/item_2_1.jpg" alt="" />
						</div>
						<div>
							<p class="type"></p>
							<p class="brief">苏泊尔  一款容量为1.7L的电水壶</p>
							<p class="money">&yen;&nbsp;999.00</p>
						</div>
					</a></li>
				</ul>
				</div>
				
			</div>
		</div>	
	</div>
	<!-- 内容结束 -->
	<!-- 页脚 -->
	<div class="footer mt60">
		<div class="layout footer_link clearfix">
			<ul class="footer_col_1">
				<li>关于我们</li>
				<li><a href="">公司简介</a></li>
				<li><a href="">公司简介</a></li>
				<li><a href="">联系我们</a></li>			
			</ul>
			<ul class="footer_col_2">
				<li>订单服务</li>
				<li><a href="">购买指南</a></li>
				<li><a href="">支付方式</a></li>
				<li><a href="">送货政策</a></li>
			</ul>
			<ul class="footer_col_3">
				<li>关注我们</li>
				<li><a href="">新浪微博</a></li>
				<li><a href="">官方微信</a></li>
			</ul>
			<ul class="footer_col_4">
				<li style="font-size: 24px;">400-996-4866</li>
				<li>周一至周五 9:00 - 18:00 (仅工作日)</li>
			</ul>
			<ul class="footer_col_5">
				<li>
					<img src="../static/images/appdown.png" alt="">
					<p>下载APP</p>
				</li>
			</ul>
		</div>	
		<div class="layout footer_bar">
			<p>小满精品电子商务（大连）有限公司 &copy;2017-2018    备案号：辽ICP备17017511号-1</p>
		</div> 
	</div>
	<!-- 右侧导航 -->
	<div class="nav_sidebar_right">
		<ul>	
			<li><a href="" class="contact"></a></li>
			<li><a href="" class="weixin"></a></li>
			<li><a href="" class="weibo"></a></li>
			<li><a href="" class="backtop"></a></li>
		</ul>
	</div>
	<!-- 右侧导航 end-->

	<!-- 公共登录 -->
	<div class="login-pop">
		<form class="">
			<h5>小满精品电商账号登录</h5>
			<div class="account_number account_number_err"><span>账号</span><input type="" name="" id="" value="" placeholder="请输入登录账号" /></div>
			<div class="prompt_error"><i></i><span>提示错误</span></div>
			<div class="account_number account_Password"><span>密码</span><input type="" name="" id="" value="" placeholder="请输入登录密码" /></div>
			<div class="forget_Password"><a href="forgetPassword.html">忘记密码 ？</a></div>
			<input class="login_btn" type="submit" value="安全登录"/>
			<div class="xm_register"><a href="register.html">还没有小满电商账号？点击立即注册</a></div>
		</form>
	</div>
	<div class="mask"></div>
	<!-- 公共登录 end -->
<script src="../static/js/jquery.min.js"></script>	
<script src="../static/js/common.js"></script>
<script src="../static/js/shop.js"></script>
</body>	
</body>
</html>