<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>提交订单</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit" />
    <meta name="viewport" content="width=1100,initial-scale=1,maximum-scale=1,user-scalable=yes">

    <link rel="Shortcut Icon" href="../static/favicon.ico">
    <!-- Standard iPad -->
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="../static/touch-icon-ipad-144.png" />
    <!-- Retina iPad -->
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="../static/touch-icon-ipad-144.png" />
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/submitOrder.css">
    <!-- <link rel="stylesheet" href="../static/css/webuploader.css"> -->
    <!--[if lt IE 9]>
	<script src="../static/js/html5.js"></script>
	<![endif]-->
</head>

<body>

    <!--头部开始-->
    <header class="header">
        <!-- topbar -->
        <div class="topbar">
            <div class="layout">
                <div class="bar_left">
                    <ul>
                        <li><span style="color: #fff;">畅想品质生活</span></li>
                        <li style="margin-left: 40px;"><span>客服电话：400-996-4866</span></li>
                        <li class="WeChat">
                            <i></i>
                            <div>
                                <span><em></em></span>
                                <!-- <img src="/static/images/WeChat.jpg"> -->
                                <p>扫一扫加微信</p>
                            </div>
                        </li>
                        <li class="weibo">
                            <a href=""><i></i></a>
                            <!-- <div>
								<span><em></em></span>
								<img src="../static/images/weibo.png">
								<p>扫一扫加微博</p>
							</div> -->
                        </li>
                    </ul>
                </div>
                <div class="bar_right" style="display: none;">
                    <a href="">登录</a>&nbsp;&nbsp;
                    <a href="">注册&nbsp;&nbsp;|&nbsp;</a>
                    <a href="">我的订单</a>&nbsp;&nbsp;|
                    <a href="">下载APP</a>
                </div>
                <!-- 登陆后显示 -->
                <div class="bar_right">
                    <span>欢迎您</span><a href="">boss，</a>
                    <a href="javascript:;">退出</a>&nbsp;&nbsp;|
                    <a href="">我的订单</a>&nbsp;&nbsp;|
                    <a href="">下载APP</a>

                </div>
            </div>
        </div>
        <!-- topbar-end -->
        <!-- logo -->
        <div class="logo">
            <div class="layout">
                <div class="logo_left">
                    <!-- logo size 200px*70px -->
                    <a href="" class="logoimg">
						<img src="../static/images/login_log.png" alt="">
					</a>
                </div>
                <div class="logo_right">
                    <div class="search">
                        <input type="text" placeholder="黑龙江顶级黑木耳">
                        <a href="" class=""></a>
                    </div>
                    <div class="shopping-cart">
                        <a href="">
							<span class="badge">12</span>
						</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- logo end-->
        <!-- nav -->
        <nav class="nav">
            <div class="layout">
                <ul class="">
                    <li><a href="" class="active">首页</a></li>
                    <li><a href="">进口食品</a></li>
                    <li><a href="">小家电</a></li>
                    <li><a href="">养生精品</a></li>
                    <li><a href="">精品农业</a></li>
                    <li><a href="">茶叶</a></li>
                    <li><a href="">户外运动</a></li>
                    <li><a href="">厨房电器</a></li>
                    <li><a href="">锅具</a></li>
                    <li><a href="">生活电器</a></li>
                </ul>
            </div>
        </nav>
        <!-- nav-end -->

    </header>
    <!--头部结束-->
    <div class="content layout mt40">
        <!-- 地址状态改变 -->
        <div class="choice_address">
            <p class="title">收货地址</p>
            <!-- 第一种-没有地址 -->
            <div class="picker clearfix" id="address01">
                <ul class="address">
                    <li class="clearfix">
                        <span>所在地区：</span>
                        <div data-toggle="distpicker" id="distpicker">
                            <select></select>
                            <select></select>
                            <select></select>
                        </div>
                    </li>
                    <li class="clearfix">
                        <span>详细信息：</span>
                        <div class="address_info">
                            <textarea name="" id=""></textarea>
                        </div>
                    </li>
                    <li class="clearfix fn_name">
                        <span>姓名：</span>
                        <input type="text" class="name">
                        <span>手机号码：</span>
                        <input type="text" class="phone">
                    </li>
                </ul>
                <div class="operation">
                    <p class="default">
                        <span class="set">
                                    <input type="checkbox" id="set_label"> 
                                    <label for="set_label"></label>
                                </span>
                        <span>设为默认</span>
                    </p>
                    <p class="btn">
                        <a href="javascript:;" class="prese">保存地址</a>
                        <a href="javascript:;" class="cancle">取消</a>
                    </p>
                </div>
            </div>
            <!-- 第二种-有地址 -->
            <div class="picker clearfix have_address" id="address02">
                <ul class="address">
                    <li class="clearfix">
                        <span>收货人：</span>
                        <p>***</p>
                    </li>
                    <li class="clearfix">
                        <span>联系方式：</span>
                        <p>183****3479</p>
                    </li>
                    <li class="clearfix fn_name">
                        <span>收货地址：</span>
                        <p>辽宁省大连市中山区XXXX</p>
                    </li>
                </ul>
                <div class="operation">
                    <a href="javascript:;" class="add">新建地址</a>
                    <a href="javascript:;" class="switch">切换地址</a>
                </div>
            </div>
        </div>
        <!-- 订单详情 -->
        <div class="order_submit">
            <ul class="title clearfix">
                <li class="info">商品信息</li>
                <li class="price">单价</li>
                <li class="num">数量</li>
                <li class="count">小计</li>
            </ul>
            <div class="product">
                <div class="product_box">
                    <div class="shop_name">
                        <span>店铺名称：</span>
                        <span>XXXXXXXXXXXXX</span>
                        <a href="" class="contact">联系店长</a>
                    </div>
                    <div class="zx_product">
                        <ul class="product_list clearfix">
                            <li class="list_info">
                                <div class="info_box clearfix">
                                    <div class="img_box">
                                        <img src="../temp/1.jpg" alt="">
                                    </div>
                                    <div class="name">
                                        <p class="name_title">苏泊尔 一款容量为1.7L的电水壶</p>
                                        <p class="spec">1.7L</p>
                                    </div>
                                </div>
                            </li>
                            <li class="list_price">
                                ¥ <span>2699.00</span>
                            </li>
                            <li class="list_num">
                                <div id="calculation">
                                    <span class="reduce">-</span>
                                    <!-- data-stock为库存量 -->
                                    <input class="calculation_input" value="1" data-stock="8">
                                    <span class="add">+</span>
                                </div>
                            </li>
                            <li class="list_count">
                                ¥<span>2699.00</span>
                            </li>
                        </ul>
                        <p class="remarks">
                            <span>备注：</span>
                            <input type="text" placeholder="麻烦尽快发货">
                            <span class="send_type">
                                <span>运送方式：</span>
                            <span>普通配送</span>
                            </span>
                            <span class="send_price">
                                <span>运费：￥</span>
                            <span class="se_price">2699</span>元
                            </span>
                        </p>
                        <p class="freight">
                            <span>店铺合计（含运费）：</span>
                            <span class="fr_price">￥<span class="cn_price"></span>元</span>

                        </p>
                    </div>

                </div>
                <div class="product_box">
                    <div class="shop_name">
                        <span>店铺名称：</span>
                        <span>XXXXXXXXXXXXX</span>
                        <a href="" class="contact">联系店长</a>
                    </div>
                    <div class="zx_product">
                        <ul class="product_list clearfix">
                            <li class="list_info">
                                <div class="info_box clearfix">
                                    <div class="img_box">
                                        <img src="../temp/1.jpg" alt="">
                                    </div>
                                    <div class="name">
                                        <p class="name_title">苏泊尔 一款容量为1.7L的电水壶</p>
                                        <p class="spec">1.7L</p>
                                    </div>
                                </div>
                            </li>
                            <li class="list_price">
                                ¥ <span>2699.00</span>
                            </li>
                            <li class="list_num">
                                <div id="calculation">
                                    <span class="reduce">-</span>
                                    <!-- data-stock为库存量 -->
                                    <input class="calculation_input" value="1" data-stock="8">
                                    <span class="add">+</span>
                                </div>
                            </li>
                            <li class="list_count">
                                ¥<span>2699.00</span>
                            </li>
                        </ul>
                        <ul class="product_list clearfix">
                            <li class="list_info">
                                <div class="info_box clearfix">
                                    <div class="img_box">
                                        <img src="../temp/1.jpg" alt="">
                                    </div>
                                    <div class="name">
                                        <p class="name_title">苏泊尔 一款容量为1.7L的电水壶</p>
                                        <p class="spec">1.7L</p>
                                    </div>
                                </div>
                            </li>
                            <li class="list_price">
                                ¥ <span>3000.00</span>
                            </li>
                            <li class="list_num">
                                <div id="calculation">
                                    <span class="reduce">-</span>
                                    <!-- data-stock为库存量 -->
                                    <input class="calculation_input" value="1" data-stock="8">
                                    <span class="add">+</span>
                                </div>
                            </li>
                            <li class="list_count">
                                ¥<span>2699.00</span>
                            </li>
                        </ul>
                        <p class="remarks">
                            <span>备注：</span>
                            <input type="text" placeholder="麻烦尽快发货">
                            <span class="send_type">
                                    <span>运送方式：</span>
                            <span>普通配送</span>
                            </span>
                            <span class="send_price">
                                    <span>运费：￥</span>
                            <span class="se_price">2699</span>元
                            </span>
                        </p>
                        <p class="freight">
                            <span>店铺合计（含运费）：</span>
                            <span class="fr_price">￥<span class="cn_price"></span>元</span>

                        </p>
                    </div>

                </div>
            </div>
            <!-- Coupons -->
            <div class="coupons">
                <p class="coupons_title">使用优惠券</p>
                <p class="coupons_opertion">
                    <a href="javascript:;" class="choice_coupons">选择优惠券</a>
                    <a href="javascript:;" class="cancel_coupons">取消使用</a>
                </p>
            </div>
            <!-- Settlement结算 -->
            <div class="settlement clearfix">
                <ul class="style_coupons">
                    <!-- <li class="coupon_item">
                        <div class="item_left">
                            <span class="tips">￥</span>
                            <span class="price">20</span>
                        </div>
                        <div class="item_right">
                            <p class="spe">满199可用</p>
                            <p class="data">2018-01-1至2018-12-12</p>
                            <p class="limit">进口食品专区</p>
                        </div>
                    </li> -->
                </ul>
                <div class="set_list">
                    <p>
                        <span class="set_title">商品合计：</span>
                        <span class="set_contain">
                            ￥
                            <span class="count_price">2699.00</span>
                        </span>
                    </p>
                    <p>
                        <span class="set_title">运费：</span>
                        <span class="set_contain">
                            ￥
                            <span class="count_send">2699.00</span>
                        </span>
                    </p>
                    <p>
                        <span class="set_title">优惠券：</span>
                        <span class="set_contain">
                            -￥
                            <span class="count_coupon">2699.00</span>
                        </span>
                    </p>
                    <p class="paid">
                        <span class="set_title">实付金额：</span>
                        <span class="paid_money">￥
                            <span class="count_money">2699.00</span>
                        </span>
                    </p>
                    <p class="set_submit">
                        <a href="" class="" id="set_submit">提交订单</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- 新建地址弹窗 -->
    <div class="add_address">
        <div class="layout">
            <div class="picker clearfix">
                <ul class="address">
                    <li class="clearfix">
                        <span>所在地区：</span>
                        <div data-toggle="distpicker" id="distpicker">
                            <select></select>
                            <select></select>
                            <select></select>
                        </div>
                    </li>
                    <li class="clearfix">
                        <span>详细信息：</span>
                        <div class="address_info">
                            <textarea name="" id=""></textarea>
                        </div>
                    </li>
                    <li class="clearfix fn_name">
                        <span>姓名：</span>
                        <input type="text" class="name">
                        <span>手机号码：</span>
                        <input type="text" class="phone">
                    </li>
                </ul>
                <div class="operation">
                    <p class="default">
                        <span class="set">
                            <input type="checkbox" id="set_label"> 
                            <label for="set_label"></label>
                        </span>
                        <span>设为默认</span>
                    </p>
                    <p class="btn">
                        <a href="javascript:;" class="prese">保存地址</a>
                        <a href="javascript:;" class="cancle">取消</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- 切换地址弹窗 -->
    <div class="switch_address">
        <div class="layout">
            <div class="switch_box">
                <p class="title">选择地址</p>
                <ul class="switch_list">
                    <li class="active">
                        <p class="name">
                            <span class="list_name">姓名：</span>
                            <span class="contain">XXX</span>
                        </p>
                        <p class="phone">
                            <span class="list_name">联系方式：</span>
                            <span class="contain">183****4569</span>
                        </p>
                        <p class="address">
                            <span class="list_name">收货地址：</span>
                            <span class="contain">辽宁省大连市中山区XXXX</span>
                        </p>
                        <i></i>
                    </li>
                    <li>
                        <p class="name">
                            <span class="list_name">姓名：</span>
                            <span class="contain">XXX</span>
                        </p>
                        <p class="phone">
                            <span class="list_name">联系方式：</span>
                            <span class="contain">183****4569</span>
                        </p>
                        <p class="address">
                            <span class="list_name">收货地址：</span>
                            <span class="contain">辽宁省大连市中山区XXXX</span>
                        </p>
                        <i></i>
                    </li>
                    <li>
                        <p class="name">
                            <span class="list_name">姓名：</span>
                            <span class="contain">XXX</span>
                        </p>
                        <p class="phone">
                            <span class="list_name">联系方式：</span>
                            <span class="contain">183****4569</span>
                        </p>
                        <p class="address">
                            <span class="list_name">收货地址：</span>
                            <span class="contain">辽宁省大连市中山区XXXX</span>
                        </p>
                        <i></i>
                    </li>
                </ul>
                <div class="draw"></div>
            </div>
        </div>
    </div>
    <!-- 页脚 -->
    <div class="footer mt60">
        <div class="layout footer_link clearfix">
            <ul class="footer_col_1">
                <li>关于我们</li>
                <li><a href="">公司简介</a></li>
                <li><a href="">公司简介</a></li>
                <li><a href="">联系我们</a></li>
            </ul>
            <ul class="footer_col_2">
                <li>订单服务</li>
                <li><a href="">购买指南</a></li>
                <li><a href="">支付方式</a></li>
                <li><a href="">送货政策</a></li>
            </ul>
            <ul class="footer_col_3">
                <li>关注我们</li>
                <li><a href="">新浪微博</a></li>
                <li><a href="">官方微信</a></li>
            </ul>
            <ul class="footer_col_4">
                <li style="font-size: 24px;">400-996-4866</li>
                <li>周一至周五 9:00 - 18:00 (仅工作日)</li>
            </ul>
            <ul class="footer_col_5">
                <li>
                    <img src="../static/images/appdown.png" alt="">
                    <p>下载APP</p>
                </li>
            </ul>
        </div>
        <div class="layout footer_bar">
            <p>小满精品电子商务（大连）有限公司 &copy;2017-2018 备案号：辽ICP备17017511号-1</p>
        </div>
    </div>
    <!-- 右侧导航 -->
    <div class="nav_sidebar_right">
        <ul>
            <li><a href="" class="contact"></a></li>
            <li><a href="" class="weixin"></a></li>
            <li><a href="" class="weibo"></a></li>
            <li><a href="" class="backtop"></a></li>
        </ul>
    </div>
    <!-- 选择优惠券弹窗 -->
    <div class="choice_coupon">
        <div class="layout">
            <div class="coupon_box">
                <p class="title">可用优惠券</p>
                <ul class="coupon_list clearfix">
                    <li class="coupon_item">
                        <div class="item_left">
                            <span class="tips">￥</span>
                            <span class="price">20</span>
                        </div>
                        <div class="item_right">
                            <p class="spe">满199可用</p>
                            <p class="data">2018-01-1至2018-12-12</p>
                            <p class="limit">进口食品专区</p>
                        </div>
                    </li>
                    <li class="coupon_item">
                        <div class="item_left">
                            <span class="tips">￥</span>
                            <span class="price">30</span>
                        </div>
                        <div class="item_right">
                            <p class="spe">满199可用</p>
                            <p class="data">2018-01-1至2018-12-12</p>
                            <p class="limit">进口食品专区</p>
                        </div>
                    </li>
                    <li class="coupon_item">
                        <div class="item_left">
                            <span class="tips">￥</span>
                            <span class="price">40</span>
                        </div>
                        <div class="item_right">
                            <p class="spe">满199可用</p>
                            <p class="data">2018-01-1至2018-12-12</p>
                            <p class="limit">进口食品专区</p>
                        </div>
                    </li>
                    <li class="coupon_item">
                        <div class="item_left">
                            <span class="tips">￥</span>
                            <span class="price">50</span>
                        </div>
                        <div class="item_right">
                            <p class="spe">满199可用</p>
                            <p class="data">2018-01-1至2018-12-12</p>
                            <p class="limit">进口食品专区</p>
                        </div>
                    </li>
                    <li class="coupon_item">
                        <div class="item_left">
                            <span class="tips">￥</span>
                            <span class="price">60</span>
                        </div>
                        <div class="item_right">
                            <p class="spe">满199可用</p>
                            <p class="data">2018-01-1至2018-12-12</p>
                            <p class="limit">进口食品专区</p>
                        </div>
                    </li>
                </ul>
                <div class="coupon_operation">
                    <a href="javascript:;" class="preservation">保存</a>
                    <a href="javascript:;" class="cancle">取消</a>
                </div>
                <div class="draw"></div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script src="../static/js/distpicker.data.js"></script>
    <script src="../static/js/distpicker.js"></script>
    <script src="../static/js/switch_address.js"></script>
</body>

</html>