@charset "utf-8";
@import  "helpers/_mixins.scss";  

.left_nav{
    float: left;
    width: 158px;
    border: 1px solid #e3e3e3;
    padding-bottom: 35px;
    ul{
        text-align: center;
        margin-top: 35px;
//      margin-bottom: 35px;
        li{
            margin-top: 11px;
        }
        h4{
            font-size: 16px;
           
            a{
                 color: #000;
            }
        }
        a{
            color: #666666;
        }
        li:hover a{
            color: #b48b78;
        }
        //对应页面换色
        .change{
            color: #b48b78;
        }
    }
}  