/*zh 2016 0310*/
@charset "utf-8";
.topbar{
	font-size:12px;
	line-height:40px;
	background-color: #2e2e2e;
	color:#cccccc;
	.layout{
		.bar_left{
			float:left; 
			ul{
				li{
					float:left;
					position: relative;
					div{
						display:none;
						position: absolute;
						background-color:#fff;
						height:160px;
						padding:10px;
						left:-55px;
						z-index:99;
						border:1px solid #f49128;
						img{ 
							width:150px;
							height:150px;
						}
						p{	
							line-height:12px;
							margin-top:-10px;
							color:#000;
							text-align:center;
						}
					}
				}
				.WeChat i{
				width:22px;
				height:18px;
				margin:-3px 0 0 25px;
				cursor:pointer;
				background-position:0 0;
				}
				.weibo i{
					width:23px;
					height:19px;
					margin:-2px 0 0 20px;
					cursor:pointer;
					background-position:-22px 0;
				}
			}	
		}
		.bar_right{
			float:right;
			color:#cccccc;
			a{
				color:#cccccc;
				margin:0 4px;
			}
		}
	}
}
.logo{
	height: 146px;
	.logo_left{
		float: left;
		margin-top: 30px;
	}
	.logo_right{
		float: right;
		width: 322px;
		.search{
			display: inline-block;
			float: left;
			width: 280px;
			margin-top: 36px;
			input{
				padding: 8px 15px;
				width: 210px;
				border: none;
				border-bottom: 1px solid #d0d0d0;
				font-size: 12px;

			}
			a{
				display: inline-block;
				width: 22px;
				height: 22px;
				background-image: url(../images/sprite.png);vertical-align: middle;
				background-position:0px -22px;
			}
		}
		.shopping-cart{
			display: inline-block;
			float: right;
			margin: 45px 10px 0 10px;
			a{
				position: relative;
				display: block;
				width: 22px;
				height: 22px;
				background-image: url(../images/sprite.png);vertical-align: middle;
				background-position:-25px -22px;
				.badge{
					display: block;
					text-align: center;
					position: absolute;
					top: -8px;
					right: -8px;
					font-size: 12px;
					letter-spacing:-1px;
					width: 16px;
					height: 16px;
					line-height: 16px;
					border-radius: 50%;
					background-color: #e32c31;
					color: $whiteColor;
				}
			}
		}
	}
}
.nav{
	padding-bottom: 38px;
	border-bottom: 1px solid #e3e3e3;
	.layout{
		ul{
			margin-left: -10px;
			li{
				float: left;
				padding: 0 30px;
				a{
					font-size: 14px;
					line-height: 14px;
					color:$fontColor;
					font-weight: bold;
					padding-bottom: 4px;

				}
				.active{
					color:$activeColor;
					border-bottom: 2px solid $activeColor;
				}
			}
		}
	}
}
.login-pop{
	position: fixed;
	padding: 60px 0;
	width: 400px;
	height: 286px;
	top: 50%;
	left: 50%;
	background-color: $whiteColor;
	z-index: 9999;
	margin: -200px 0 0 -203px;
	text-align: center;
	h5{
		font-size: 16px;
		color: $fontColor;
	}
	.account_number{
        width: 285px;
        height: 34px;
        border: 1px solid #d6d6d6;
        margin: 20px auto 0;
    	text-align: left;
        span{
            height: 34px;
            width: 44px;
            display: inline-block;
            line-height: 38px;
            text-align: center;
            color: #a6a6a6;
            font-size: 14px;
            border-right: 1px solid #d6d6d6;
        }
        input{
            width: 230px;
            height: 30px;	
            border: 0px;
            font-size: 14px;
            color: #333333;
            margin-left: 10px;

        }
        
    }
    //错误提示
    .account_number_err{
        border: 1px solid #f43500;
    }
    .prompt_error{
    	text-align:left;
    	margin-left: 60px;
        span{
            display: inline-block;
            color: #f43500;
            margin-left: 6px;
            font-size: 12px;
        }
        i{
          
            width: 13px;
            height: 13px;
            margin-left: 10px;
            background-position-x: -77px;
            background-position-y: -4px;       
        }
    }
//          密码输入框
    .account_Password{
        margin-top: 0px;
    }
    .forget_Password{
        text-align: right;
        margin-top: 10px;
        margin-right: 60px;
        font-size: 12px;
        a{
            color: #a6a6a6;
        }
    }
    //登录按钮
    .login_btn{
        width: 284px;
        height: 46px;
        color: #fff;
        background: #b48b78;
        border: 0px;
        margin-top: 30px;
        font-size: 18px;
        cursor: pointer;
    }
    .xm_register{
        margin-top: 20px;
        text-align: center;
        font-size: 12px;
        a{
            color: #a6a6a6;
        }
    }

}
.mask{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background-color: rgba(0,0,0,.6);
}
