@charset "UTF-8";
/*活动列表*/
/* 单行文字溢出时出现省略号，需设定宽度 */
.listText p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

/*分页共通样式*/
/* 单行文字溢出时出现省略号，需设定宽度 */
.listText p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.somePage {
  width: 1100px;
  padding: 10px 0 50px;
  text-align: center; }
  .somePage a {
    /*padding: 0 9px;*/
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin: 3px;
    display: inline-block;
    text-align: center;
    border: 1px solid #dbdada;
    color: #666;
    font-weight: 700; }
    .somePage a:hover {
      background: #b48b78;
      color: #fff;
      border: 1px solid #b48b78; }
  .somePage .iconPagePrev, .somePage .iconPageNext, .somePage .homePage, .somePage .endPage {
    padding: 0 9px;
    width: 50px;
    height: 30px;
    line-height: 30px;
    color: #666;
    border: 1px solid #dbdada; }
    .somePage .iconPagePrev:hover, .somePage .iconPageNext:hover, .somePage .homePage:hover, .somePage .endPage:hover {
      background: #b48b78;
      color: #fff;
      border: 1px solid #b48b78; }
  .somePage a.current {
    background: #b48b78;
    color: #fff;
    border: 1px solid #b48b78; }

.list1 {
  width: 1100px;
  height: 240px;
  padding-bottom: 30px;
  padding-top: 30px;
  border-bottom: 1px solid #d6d6d6; }

.activitylist {
  padding-bottom: 50px; }

/* 列表右面文字布局 */
.listText {
  width: 603px;
  padding-left: 16px; }
  .listText p {
    width: 603px; }
  .listText .title {
    font-size: 18px; }
  .listText .date {
    color: #666666;
    font-size: 12px; }
  .listText .text {
    width: 603px;
    max-height: 101px;
    line-height: 25px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden; }
  .listText a {
    font-size: 14px;
    color: #cccccc; }
  .listText a:hover {
    color: #5f8ce3; }
