@charset "UTF-8";
.picker, .picker .address li div, .content_right .address_list .address_item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

/* 单行文字溢出时出现省略号，需设定宽度 */
.content_right .address_list .address_item .info li .list_address {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.picker, .picker .address li div, .content_right .address_list .address_item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

/* 单行文字溢出时出现省略号，需设定宽度 */
.content_right .address_list .address_item .info li .list_address {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.left_nav {
  float: left;
  width: 158px;
  border: 1px solid #e3e3e3;
  padding-bottom: 35px; }
  .left_nav ul {
    text-align: center;
    margin-top: 35px; }
    .left_nav ul li {
      margin-top: 11px; }
    .left_nav ul h4 {
      font-size: 16px; }
      .left_nav ul h4 a {
        color: #000; }
    .left_nav ul a {
      color: #666666; }
    .left_nav ul li:hover a {
      color: #b48b78; }
    .left_nav ul .change {
      color: #b48b78; }

.picker, .picker .address li div, .content_right .address_list .address_item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

/* 单行文字溢出时出现省略号，需设定宽度 */
.content_right .address_list .address_item .info li .list_address {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.picker {
  width: 100%;
  border: 1px solid #e3e3e3; }
  .picker .address {
    width: 59%;
    float: left;
    margin: 40px 40px 20px;
    border-right: 1px solid #e3e3e3; }
    .picker .address li {
      width: 100%;
      padding-bottom: 20px; }
      .picker .address li span {
        display: inline-block;
        width: 14%;
        float: left;
        line-height: 30px;
        text-align: right; }
      .picker .address li div {
        float: left;
        padding-left: 3%; }
        .picker .address li div select {
          height: 30px;
          margin-right: 5px;
          border: 1px solid #d6d6d6; }
      .picker .address li div.address_info textarea {
        height: 105px;
        border: 1px solid #d6d6d6;
        resize: none; }
    .picker .address li.fn_name input {
      float: left;
      height: 30px;
      border: 1px solid #d6d6d6; }
    .picker .address li.fn_name .name {
      margin: 0 3%; }
    .picker .address li.fn_name .phone {
      width: 193px;
      margin-left: 3%; }
  .picker .operation {
    width: 31%;
    float: left;
    margin: 100px 0; }
    .picker .operation .default {
      font-size: 12px;
      color: #666; }
      .picker .operation .default .set {
        display: inline-block;
        width: 18px;
        height: 18px;
        position: relative;
        margin-right: 10px; }
        .picker .operation .default .set input {
          width: 18px;
          height: 18px;
          opacity: 0; }
        .picker .operation .default .set label {
          position: absolute;
          top: 0;
          left: 0;
          width: 18px;
          height: 18px;
          border: 1px solid #e3e3e3; }
        .picker .operation .default .set input:checked + label {
          border: 1px solid #b48b78; }
        .picker .operation .default .set input:checked + label::after {
          position: absolute;
          content: "\2714";
          font-size: 18px;
          line-height: 18px;
          left: 2px;
          color: #b48b78; }
    .picker .operation .btn {
      padding-top: 15px; }
      .picker .operation .btn a {
        display: inline-block;
        width: 128px;
        height: 38px;
        line-height: 38px;
        border: 1px solid #b48b78;
        text-align: center; }
      .picker .operation .btn .prese {
        margin-right: 10px;
        background: #b48b78;
        color: #fff; }
        .picker .operation .btn .prese:hover {
          background: #c79a85; }
      .picker .operation .btn .cancle {
        color: #b48b78;
        border: 1px solid #b48b78;
        background: #f6f6f6; }
        .picker .operation .btn .cancle:hover {
          background: #fff; }

.content_right {
  float: left;
  width: 908px;
  min-height: 290px;
  margin-left: 30px; }
  .content_right .picker .address select {
    width: 127px; }
  .content_right .picker .address div.address_info textarea {
    width: 398px; }
  .content_right .picker .address li.fn_name .name {
    width: 100px;
    margin: 0 3%; }
  .content_right .address_list {
    width: 100%; }
    .content_right .address_list .address_item {
      margin-top: 20px;
      padding: 40px;
      border: 1px solid #e3e3e3;
      position: relative; }
      .content_right .address_list .address_item .info {
        width: 65%;
        float: left; }
        .content_right .address_list .address_item .info li {
          padding-bottom: 10px; }
          .content_right .address_list .address_item .info li span {
            display: inline-block;
            float: left; }
          .content_right .address_list .address_item .info li .title {
            width: 14%;
            text-align: right;
            padding-right: 10px; }
          .content_right .address_list .address_item .info li .list_address {
            width: 78%; }
        .content_right .address_list .address_item .info li:last-child {
          padding-bottom: 0; }
      .content_right .address_list .address_item .operation {
        width: 35%;
        float: left; }
        .content_right .address_list .address_item .operation .default {
          font-size: 12px;
          color: #666; }
          .content_right .address_list .address_item .operation .default .choice {
            display: inline-block;
            width: 15px;
            height: 15px;
            position: relative;
            margin-right: 10px; }
            .content_right .address_list .address_item .operation .default .choice input[type="radio"] {
              width: 15px;
              height: 15px;
              opacity: 0; }
            .content_right .address_list .address_item .operation .default .choice label {
              position: absolute;
              left: 0;
              top: 0;
              width: 15px;
              height: 15px;
              border: 1px solid #ccc; }
            .content_right .address_list .address_item .operation .default .choice label.select {
              background-color: #fff;
              border: 1px solid #b48b78; }
              .content_right .address_list .address_item .operation .default .choice label.select::after {
                content: "\2714";
                font-size: 16px;
                color: #b48b78;
                text-align: center;
                line-height: 16px;
                position: absolute;
                left: 0;
                top: 0; }
        .content_right .address_list .address_item .operation .btn {
          padding-top: 15px; }
          .content_right .address_list .address_item .operation .btn a {
            display: inline-block;
            width: 128px;
            height: 38px;
            line-height: 38px;
            border: 1px solid #e3e3e3;
            background: #f6f6f6;
            text-align: center;
            color: #333; }
          .content_right .address_list .address_item .operation .btn .edit {
            margin-right: 10px; }
      .content_right .address_list .address_item i {
        display: inline-block;
        width: 16px;
        height: 16px;
        background: url(../images/sprite.png);
        background-position: 0 -402px;
        position: absolute;
        bottom: 0;
        right: 0;
        display: none; }
    .content_right .address_list .address_item.active {
      border: 1px solid #b48b78; }
      .content_right .address_list .address_item.active i {
        display: block; }

.edit_address {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: none; }
  .edit_address .layout {
    margin-top: 300px;
    background: #fff; }
    .edit_address .layout .picker .address select {
      width: 160px; }
    .edit_address .layout .picker .address div.address_info textarea {
      width: 495px; }
    .edit_address .layout .picker .address li.fn_name .name {
      width: 170px;
      margin: 0 3%; }
