@charset "UTF-8";
/* 单行文字溢出时出现省略号，需设定宽度 */
/* 单行文字溢出时出现省略号，需设定宽度 */
.left_nav {
  float: left;
  width: 158px;
  border: 1px solid #e3e3e3;
  padding-bottom: 35px; }
  .left_nav ul {
    text-align: center;
    margin-top: 35px; }
    .left_nav ul li {
      margin-top: 11px; }
    .left_nav ul h4 {
      font-size: 16px; }
      .left_nav ul h4 a {
        color: #000; }
    .left_nav ul a {
      color: #666666; }
    .left_nav ul li:hover a {
      color: #b48b78; }
    .left_nav ul .change {
      color: #b48b78; }

.nav {
  border-bottom: 1px solid #e3e3e3; }

.content_right {
  float: left;
  width: 908px;
  min-height: 290px;
  border: 1px solid #e3e3e3;
  margin-left: 30px; }

.showtabel {
  margin-left: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 14px;
  color: #666666;
  border: 1px solid #d6d6d6; }
  .showtabel th {
    text-align: center; }
  .showtabel td {
    text-align: center;
    height: 40px; }
