@charset "UTF-8";
/* 单行文字溢出时出现省略号，需设定宽度 */
.content {
  height: 100%;
  width: 100%;
  background-color: #f5f5f5; }

.listbox {
  margin-bottom: 100px; }

.getticketList {
  width: 1160px;
  margin-top: 60px; }
  .getticketList li {
    display: inline-block;
    width: 530px;
    height: 170px;
    margin-right: 40px;
    margin-bottom: 30px;
    background: url("/static/tempimages/ticketbg01.png"); }
    .getticketList li p {
      float: left; }
    .getticketList li .left {
      margin-top: 20px;
      margin-left: 34px; }
      .getticketList li .left img {
        width: 130px;
        height: 130px; }
    .getticketList li .middle {
      width: 200px;
      height: 130px;
      padding-top: 42px;
      padding-left: 20px; }
      .getticketList li .middle .manjian {
        font-size: 20px;
        color: #b48b78; }
      .getticketList li .middle .dateTo {
        font-size: 14px; }
      .getticketList li .middle .where {
        font-size: 16px;
        color: #666666; }
    .getticketList li .right {
      margin-left: 30px;
      margin-top: 45px;
      width: 87px;
      height: 87px;
      font-size: 14px;
      text-align: center; }
      .getticketList li .right strong {
        float: right;
        display: block;
        width: 104px;
        margin-top: 26px;
        text-align: center;
        font-size: 14px;
        color: red;
        font-weight: normal; }
      .getticketList li .right .getnow {
        cursor: pointer;
        display: inline-block;
        text-align: center;
        margin-top: 20px;
        width: 80px;
        height: 30px;
        background-color: #b48b78;
        color: #ffffff;
        font-size: 14px;
        line-height: 30px; }
      .getticketList li .right .getnow:hover {
        background-color: #c79a85; }

.lodemore {
  text-align: center; }
  .lodemore a {
    color: #333333;
    font-size: 16px; }
