@charset "UTF-8";
/* 单行文字溢出时出现省略号，需设定宽度 */
/* 单行文字溢出时出现省略号，需设定宽度 */
.left_nav {
  float: left;
  width: 158px;
  border: 1px solid #e3e3e3;
  padding-bottom: 35px; }
  .left_nav ul {
    text-align: center;
    margin-top: 35px; }
    .left_nav ul li {
      margin-top: 11px; }
    .left_nav ul h4 {
      font-size: 16px; }
      .left_nav ul h4 a {
        color: #000; }
    .left_nav ul a {
      color: #666666; }
    .left_nav ul li:hover a {
      color: #b48b78; }
    .left_nav ul .change {
      color: #b48b78; }

.content {
  width: 1100px;
  margin: 0 auto;
  margin-top: 40px; }
  .content .content_right {
    width: 908px;
    float: right; }
    .content .content_right .user {
      border: 1px solid #e3e3e3;
      padding-top: 29px;
      padding-bottom: 29px; }
      .content .content_right .user .user_photo {
        width: 70px;
        height: 70px;
        border-radius: 35px;
        margin-left: 39px; }
      .content .content_right .user .login_time {
        margin-left: 130px;
        margin-top: -55px;
        padding-bottom: 10px; }
    .content .content_right .see {
      margin-top: 20px;
      border: 1px solid #e3e3e3;
      padding-top: 19px;
      padding-bottom: 19px;
      background: #f6f6f6; }
      .content .content_right .see a {
        color: #333333;
        font-size: 16px; }
    .content .content_right .order_details {
      margin-top: 20px;
      border: 1px solid #e3e3e3;
      padding-top: 19px;
      padding-bottom: 19px; }
      .content .content_right .order_details .sees {
        margin-top: -20px;
        font-size: 12px; }
      .content .content_right .order_details .commodity_details {
        padding-top: 19px;
        height: 110px; }
        .content .content_right .order_details .commodity_details ul li {
          height: 110px;
          float: left; }
          .content .content_right .order_details .commodity_details ul li h4 {
            margin-top: 30px;
            font-size: 14px;
            color: #333333; }
          .content .content_right .order_details .commodity_details ul li p {
            font-size: 12px;
            color: #999999; }
        .content .content_right .order_details .commodity_details ul li:first-child {
          width: 110px;
          height: 110px;
          background: #f6f6f6;
          text-align: center;
          margin-left: 40px; }
          .content .content_right .order_details .commodity_details ul li:first-child img {
            margin-top: 15px; }
        .content .content_right .order_details .commodity_details ul li:nth-child(2) {
          margin-left: 20px; }
        .content .content_right .order_details .commodity_details ul li:nth-child(3) {
          margin-left: 120px; }
        .content .content_right .order_details .commodity_details ul li:nth-child(4) {
          margin-left: 99px; }
          .content .content_right .order_details .commodity_details ul li:nth-child(4) h4 {
            margin-top: 0px;
            margin-bottom: 10px; }
        .content .content_right .order_details .commodity_details ul li:nth-child(5) {
          margin-left: 53px; }
          .content .content_right .order_details .commodity_details ul li:nth-child(5) button {
            width: 88px;
            height: 28px;
            border: 1px solid #c6c6c6;
            background: #f7f7f7;
            margin-left: 24px;
            margin-top: 10px;
            outline: none;
            cursor: pointer; }
