@charset "UTF-8";
.picker, .picker .address li div, .switch_address .switch_box .switch_list li, .order_submit .title, .order_submit .product .product_box .zx_product {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

/* 单行文字溢出时出现省略号，需设定宽度 */
.content .choice_address .have_address .address li p, .order_submit .product .product_list .list_info .name .name_title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.picker, .picker .address li div, .switch_address .switch_box .switch_list li, .order_submit .title, .order_submit .product .product_box .zx_product {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

/* 单行文字溢出时出现省略号，需设定宽度 */
.content .choice_address .have_address .address li p, .order_submit .product .product_list .list_info .name .name_title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.picker {
  width: 100%;
  border: 1px solid #e3e3e3; }
  .picker .address {
    width: 59%;
    float: left;
    margin: 40px 40px 20px;
    border-right: 1px solid #e3e3e3; }
    .picker .address li {
      width: 100%;
      padding-bottom: 20px; }
      .picker .address li span {
        display: inline-block;
        width: 14%;
        float: left;
        line-height: 30px;
        text-align: right; }
      .picker .address li div {
        float: left;
        padding-left: 3%; }
        .picker .address li div select {
          height: 30px;
          margin-right: 5px;
          border: 1px solid #d6d6d6; }
      .picker .address li div.address_info textarea {
        height: 105px;
        border: 1px solid #d6d6d6;
        resize: none; }
    .picker .address li.fn_name input {
      float: left;
      height: 30px;
      border: 1px solid #d6d6d6; }
    .picker .address li.fn_name .name {
      margin: 0 3%; }
    .picker .address li.fn_name .phone {
      width: 193px;
      margin-left: 3%; }
  .picker .operation {
    width: 31%;
    float: left;
    margin: 100px 0; }
    .picker .operation .default {
      font-size: 12px;
      color: #666; }
      .picker .operation .default .set {
        display: inline-block;
        width: 18px;
        height: 18px;
        position: relative;
        margin-right: 10px; }
        .picker .operation .default .set input {
          width: 18px;
          height: 18px;
          opacity: 0; }
        .picker .operation .default .set label {
          position: absolute;
          top: 0;
          left: 0;
          width: 18px;
          height: 18px;
          border: 1px solid #e3e3e3; }
        .picker .operation .default .set input:checked + label {
          border: 1px solid #b48b78; }
        .picker .operation .default .set input:checked + label::after {
          position: absolute;
          content: "\2714";
          font-size: 18px;
          line-height: 18px;
          left: 2px;
          color: #b48b78; }
    .picker .operation .btn {
      padding-top: 15px; }
      .picker .operation .btn a {
        display: inline-block;
        width: 128px;
        height: 38px;
        line-height: 38px;
        border: 1px solid #b48b78;
        text-align: center; }
      .picker .operation .btn .prese {
        margin-right: 10px;
        background: #b48b78;
        color: #fff; }
        .picker .operation .btn .prese:hover {
          background: #c79a85; }
      .picker .operation .btn .cancle {
        color: #b48b78;
        border: 1px solid #b48b78;
        background: #f6f6f6; }
        .picker .operation .btn .cancle:hover {
          background: #fff; }

.choice_address .title {
  font-size: 18px;
  padding-bottom: 20px; }

.choice_address .picker .address select {
  width: 160px; }

.choice_address .picker .address div.address_info textarea {
  width: 495px; }

.choice_address .picker .address li.fn_name .name {
  width: 170px;
  margin: 0 3%; }

.content .choice_address .have_address .address {
  border-right: none; }
  .content .choice_address .have_address .address li p {
    line-height: 30px;
    float: left;
    padding-left: 3%;
    width: 80%; }

.content .choice_address .have_address .operation {
  width: 15%;
  float: right;
  text-align: right;
  margin: 50px 40px 40px 0; }
  .content .choice_address .have_address .operation a {
    display: block;
    width: 140px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: #f6f6f6;
    border: 1px solid #e3e3e3;
    font-size: 16px;
    color: #333;
    margin-bottom: 20px; }
    .content .choice_address .have_address .operation a:hover {
      background: #fff; }

.add_address {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: none; }
  .add_address .layout {
    margin-top: 300px;
    background: #fff; }
    .add_address .layout .picker .address select {
      width: 160px; }
    .add_address .layout .picker .address div.address_info textarea {
      width: 495px; }
    .add_address .layout .picker .address li.fn_name .name {
      width: 170px;
      margin: 0 3%; }

.switch_address {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: none; }
  .switch_address .switch_box {
    width: 460px;
    height: 500px;
    overflow: auto;
    overflow-x: none;
    padding: 40px 80px 150px 60px;
    background: #fff;
    margin: 200px auto 0;
    position: relative; }
    .switch_address .switch_box .title {
      font-size: 18px;
      padding-bottom: 40px; }
    .switch_address .switch_box .switch_list {
      width: 460px; }
      .switch_address .switch_box .switch_list li {
        width: 100%;
        padding: 30px 25px;
        background: #f6f6f6;
        border: 1px solid #e3e3e3;
        margin-bottom: 30px;
        position: relative; }
        .switch_address .switch_box .switch_list li p {
          padding-bottom: 20px; }
          .switch_address .switch_box .switch_list li p .list_name {
            color: #999; }
        .switch_address .switch_box .switch_list li p:last-child {
          padding-bottom: 0; }
        .switch_address .switch_box .switch_list li:hover {
          border: 1px solid #b48b78; }
        .switch_address .switch_box .switch_list li i {
          display: inline-block;
          width: 16px;
          height: 16px;
          background: url(../images/sprite.png);
          background-position: 0 -402px;
          position: absolute;
          bottom: 0;
          right: 0;
          display: none; }
      .switch_address .switch_box .switch_list li.active {
        border: 1px solid #b48b78; }
        .switch_address .switch_box .switch_list li.active i {
          display: block; }
    .switch_address .switch_box .draw {
      width: 30px;
      height: 30px;
      position: absolute;
      top: 30px;
      right: 30px;
      background: url(../images/sprite.png);
      background-position: -23px -403px;
      cursor: pointer; }

#address02 {
  display: none; }

.order_submit {
  margin-top: 40px;
  width: 100%; }
  .order_submit .title {
    padding: 0 40px;
    border: 1px solid #e3e3e3;
    background: #f6f6f6; }
    .order_submit .title li {
      line-height: 40px;
      color: #999;
      float: left; }
    .order_submit .title .info {
      width: 40%; }
    .order_submit .title .price {
      width: 24%; }
    .order_submit .title .num {
      width: 24%; }
    .order_submit .title .count {
      width: 12%; }
  .order_submit .product .product_box {
    width: 100%;
    margin-bottom: 30px; }
    .order_submit .product .product_box .shop_name {
      margin: 30px 0; }
      .order_submit .product .product_box .shop_name .contact {
        display: inline-block;
        padding: 3px 20px;
        color: #fff;
        text-align: center;
        background: #b48b78;
        margin-left: 30px; }
    .order_submit .product .product_box .zx_product {
      padding: 30px 40px 30px;
      border: 1px solid #e3e3e3; }
  .order_submit .product .product_list {
    margin-bottom: 30px; }
    .order_submit .product .product_list li {
      float: left; }
    .order_submit .product .product_list .list_info {
      width: 40%; }
      .order_submit .product .product_list .list_info .img_box {
        width: 110px;
        height: 110px;
        float: left; }
        .order_submit .product .product_list .list_info .img_box img {
          width: 100%;
          height: 100%; }
      .order_submit .product .product_list .list_info .name {
        float: left;
        width: 260px;
        margin: 30px 0 0 20px; }
        .order_submit .product .product_list .list_info .name .name_title {
          width: 100%; }
        .order_submit .product .product_list .list_info .name .spec {
          font-size: 12px;
          color: #999;
          margin-top: 5px; }
    .order_submit .product .product_list .list_price {
      width: 24%;
      line-height: 110px; }
    .order_submit .product .product_list .list_num {
      width: 24%; }
      .order_submit .product .product_list .list_num #calculation {
        display: inline-block;
        width: 118px;
        height: 28px;
        border: 1px solid #e3e3e3;
        margin-top: 40px; }
        .order_submit .product .product_list .list_num #calculation input {
          width: 50px;
          height: 24px;
          text-align: center;
          line-height: 24px;
          color: #5e5e5e;
          border: none;
          border-left: 1px solid #e3e3e3;
          border-right: 1px solid #e3e3e3;
          background: #f6f6f6; }
        .order_submit .product .product_list .list_num #calculation span {
          display: inline-block;
          text-align: center;
          width: 28px;
          height: 28px;
          line-height: 28px;
          cursor: pointer;
          font-size: 14px; }
    .order_submit .product .product_list .list_count {
      width: 12%;
      line-height: 110px; }
  .order_submit .product .remarks {
    font-size: 12px;
    color: #999;
    display: block;
    padding: 20px 0;
    border-bottom: 1px solid #e3e3e3; }
    .order_submit .product .remarks input {
      border: 1px solid #e3e3e3;
      width: 300px;
      height: 30px;
      margin-left: 20px; }
    .order_submit .product .remarks .send_type {
      padding: 0 30px; }
  .order_submit .product .freight {
    text-align: right;
    padding-top: 20px; }
    .order_submit .product .freight .fr_price {
      color: #e11a1f; }
  .order_submit .coupons {
    padding: 20px 40px;
    background: #f6f6f6;
    border: 1px solid #e3e3e3; }
    .order_submit .coupons .coupons_title {
      color: #999;
      padding-bottom: 15px; }
    .order_submit .coupons .choice_coupons {
      display: inline-block;
      width: 130px;
      height: 40px;
      background: #b48b78;
      color: #fff;
      line-height: 40px;
      text-align: center; }
    .order_submit .coupons .cancel_coupons {
      color: #999;
      line-height: 40px;
      padding-left: 10px; }
  .order_submit .settlement {
    border: 1px solid #e3e3e3;
    border-top: none;
    padding: 30px 40px 40px;
    background: #f6f6f6; }
    .order_submit .settlement .style_coupons {
      width: 75%;
      min-height: 250px;
      float: left; }
    .order_submit .settlement .set_list {
      width: 25%;
      float: left; }
      .order_submit .settlement .set_list p {
        padding-bottom: 20px; }
        .order_submit .settlement .set_list p .set_title {
          display: inline-block;
          width: 30%;
          text-align: right; }
        .order_submit .settlement .set_list p .set_contain {
          display: inline-block;
          width: 65%;
          text-align: right; }
      .order_submit .settlement .set_list .paid {
        padding-top: 10px;
        border-top: 1px solid #e3e3e3; }
        .order_submit .settlement .set_list .paid .paid_money {
          font-size: 24px;
          color: #e11a1f;
          font-weight: 800; }
      .order_submit .settlement .set_list .set_submit {
        text-align: center; }
        .order_submit .settlement .set_list .set_submit a {
          display: inline-block;
          width: 170px;
          height: 50px;
          font-size: 20px;
          background: #b48b78;
          color: #fff;
          text-align: center;
          line-height: 50px;
          margin: 0 auto; }
