
@charset "UTF-8";
@import  "helpers/_mixins.scss";   
//活动中心头部banner
.banner{
    width: 100%;
    height: 610px;
    img{
       width: 100%;
       height: 610px; 
    }
}
.content{
    margin-bottom: 145px;
}
//shop css
.shop-coupon{
            padding:20px 32px 0;
            margin-left: -25px;
            li{
                position: relative;
                float: left;
                margin-left: 25px;
                cursor: pointer;
                div{
                    display: block;
                    width: 240px;
                    height: 92px;
                    overflow: hidden;
                    background-image: url(../images/sprite.png);
                    vertical-align: middle;
                    background-position: -260px 0;
                    .shop-coupon_col-l{
                        font-size: 20px;
                        color:$whiteColor;
                        float: left;
                        display: block;
                        width: 136px;
                        height: 92px;
                        text-align: center;
                        line-height: 92px;

                    }
                    .shop-coupon_col-r{
                        float: right;
                        display: block;
                        width: 104px;
                        margin-top: 26px;
                        text-align: center;
                        font-size: 14px;
                        color: $whiteColor; 
                        .rtime{
                            font-weight: normal;
                        }
                    }
                }               
                .omask{
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 240px;
                    height: 92px;
                    line-height: 92px;
                    font-size: 16px;
                    color: $whiteColor;
                    text-align: center;
                    background-color: rgba(0,0,0,.7);
                    z-index: 99;
                }
            }
            .available_three,.received{
                .shop-coupon_col-r{
                    margin-top: 0;
                    line-height: 92px;
                }
            }
            .received{
                div{
                    background-position: -260px -96px;
                }   
            }
        }

//夏季标题
.xj{
    margin-top: 60px;
    width: 100%;
    height: 30px;
    .xjtitle{
         margin-left:80px;
          font-size: 30px;
          color:#756e52;
          height: 1px;
          width: 130px;
          text-align: center;
          padding: 0 30px;
          line-height: 1px;
          border-left: 370px solid #756e52;
          border-right: 370px solid #756e52;
    }
}
//商品展示
.goodslist{
    width: 970px;
    margin: 0 auto;
    margin-top: 22px;
    .goods{
        padding-right: 10px;
        margin: 0 auto;
        width: 310px;
        height: 392px;
        display: inline-block;
        margin-bottom: 44px;
        .imgbox{
                width: 310px;
                height: 350px;
                overflow: hidden; 
        }
        img{
                
                 @include transition(all 0.6s);
         }
         img:hover{
                 @include transform(scale(1.1));
        }
        .price{
              color: #d5200d;
              font-size: 25px;
              font-weight:bold;
          }
          p{   
              color: #808080;
              font-size: 20px; 
              margin-top:5px;
          }
    }
//  底部图片
    .leftgoods{
        display: inline-block;
        margin-right: 30px;
        img{
             width: 580px;
            height: 600px;  
        }
        
    }
    .rightgoods{
        display: inline-block;
          img{
             width: 338px;
            height: 600px;  
        }
    }
}





