//领券中心
@charset "UTF-8";
@import  "helpers/_mixins.scss";
.content{
    height: 100%;
    width: 100%;
    background-color: #f5f5f5;
}
.listbox{
        margin-bottom: 100px;
}
.getticketList{
    width: 1160px;
    margin-top: 60px;
    li{ 
        display: inline-block;
        width: 530px;
        height: 170px;
        margin-right: 40px;
        margin-bottom: 30px;
        background: url("/static/tempimages/ticketbg01.png");
        p{
            float: left;
        }
         
        .left{
            margin-top:20px;
            margin-left:34px;
            img{
                width: 130px;
                height: 130px;
            }
        }
        .middle{
            width: 200px;
            height: 130px;
            padding-top: 42px;
            padding-left: 20px;
            .manjian{
                font-size: 20px;
                color: #b48b78;
            }
            .dateTo{
                  font-size: 14px;
            }
            .where{
                  font-size: 16px;
                color: #666666;
            }
        }
        .right{
            margin-left: 30px;
            margin-top: 45px;
            width: 87px;
            height: 87px;
            font-size: 14px;
                text-align: center; 
                   strong{
               float: right;
                        display: block;
                        width: 104px;
                        margin-top: 26px;
                        text-align: center;
                        font-size: 14px;
                        color: red; 
                  font-weight: normal; 
            } 
            .getnow{
                cursor:pointer;
                display: inline-block;
                text-align: center;  
                margin-top:20px;
                width: 80px;
                height: 30px; 
                background-color: #b48b78;
                color: #ffffff;
                font-size: 14px;
                line-height: 30px;
            }
            .getnow:hover{
                background-color:  #c79a85;
            }
        }
    }
}
.lodemore{
    text-align: center;
        a{  
            color: #333333;
            font-size:16px;
        }

}





