@charset "utf-8";
@charset "utf-8";
/*首页index*/
@import  "helpers/_mixins.scss";                  //常用变量定义
@import  "components/banner.scss";                  //banner
%indexlayout {
	width:1100px;
	margin:0 auto;
	padding:0px;
}
.announcement{
	height:52px;
	line-height:52px;
	background-color:#fff;
	overflow:hidden;
	ul{
		padding-left:10px;
		li{
			a{
				color:#666666;
			}	
		}
	}
	
	span{
		color:#ff9c00;
		margin:0 10px;
	}
	i{
		width:20px;
		height:20px;
		margin:-2px 10px 0 0;
		background-position:-53px -23px;
	}
}
.content{
	.item{
		padding-top: 60px;
		.layout{
			width: 1100px;
			padding: 0;

			.item-hd{
				.item_hd_l{
					float: left;
					font-size: 20px;
				}
				.item_hd_r{
					float: right;
					margin-top: 8px;
					font-size: 12px;
					a{
						color:$fontColor;
					}
				}
			}
			.item-bd{
				margin-top: 16px;
				.item-ad{
					height: 320px;
				}
				.item-bd-d{
					margin-left: -12px;
					li{
						float: left;
						overflow: hidden;
						margin-left: 12px;
						a{
							.item-pic{
								width: 266px;
								height: 266px;
								overflow: hidden;
								img{
									@include transition(all 0.6s);
								}
								:hover{
									@include transform(scale(1.1));
								}
							}
							p{
							text-align: center;
							}
							p.type{
								margin-top: 8px;
								height: 24px;
							}						
							p.brief{
								margin-top: 2px;
								font-size: 14px;
								color:$fontColor;
								@extend %fn_text_overflow;
							}
							p.money{
								font-size: 14px;
								color: #e11a1f;
								font-weight: bold;
							}
						}
					}
					:hover{
						p.brief{
							color: $activeColor;
						}
					}
				}
			}
		}
	}
	.item-first{
		background-color: rgba(180,139,120,0.1);
		padding: 60px 0;
		.layout{
			width: 1100px;
			padding: 0;
			h2{	
				font-size: 26px;
				margin-bottom: 20px;
			}
			.item-first-bd{
				li{
					float: left;
					width: 230px;
					height: 275px;
					margin: 0 0px 10px 10px;
					background-color: $whiteColor;
					overflow: hidden;
					a{
						.item-pic{
							display: block;
							width: 230px;
							height: 194px;
							overflow: hidden;
							border-bottom: 1px solid #f7f3f1;
							img{
								@include transition(all 0.6s);
							}
							:hover{
								@include transform(scale(1.1));
							}
						}
						p{
							text-align: center;
						}
						p.type{
							margin-top: 6px;
							height: 26px;
						}						
						p.brief{
							margin-top: 2px;
							font-size: 14px;
							color:$fontColor;
							@extend %fn_text_overflow;
						}
						p.money{
							font-size: 14px;
							color: #e11a1f;
							font-weight: bold;
						}
					}
					:hover{
						p.brief{
							color: $activeColor;
						}
					}
				}
				li:first-of-type{
					width: 380px;
					height: 560px;
					margin-left: 0;
					a{
						.item-pic{
							display: block;
							width: 380px;
							height: 425px;
							overflow: hidden;
							border-bottom: 1px solid #f7f3f1;
							img{
								@include transition(all 0.6s);
							}
							:hover{
								@include transform(scale(1.1));
							}
						}
						p.type{
							margin-top: 20px;

						}						
						p.brief{
							margin-top: 10px;
							font-size: 20px;
							color:$fontColor;

						}
						p.money{
							font-size: 20px;
							color: #e11a1f;
							font-weight: normal;
						}
					}
					:hover{
						p.brief{
							color: $activeColor;
						}
					}
				}
			}
		}
	}
	.type-new,.type-campaign{
		padding: 4px 6px;
		color: $whiteColor;
		font-size: 12px;
		display: inline-block;
	}
	.type-new{
		background-color: #f18031;
	}
	.type-campaign{
		background-color: #f15a31;
		margin-left: 10px;
	}
}

