@charset "UTF-8";
@import  "helpers/_mixins.scss";
@import  "components/_personalCenterLeftNav.scss";
@import  "layout/_guess.scss";
.content{
    width: 1100px;
    margin: 0 auto;
    margin-top: 40px;
    .content_right{
        width: 908px;
        float: right;
        .user{
            border: 1px solid #e3e3e3;
            padding-top: 29px;
            padding-bottom: 29px;
            .user_photo{
                width: 70px;
                height: 70px;
                border-radius: 35px;
                margin-left: 39px;
            }
            .login_time{
                margin-left: 130px;
                margin-top: -55px;
                padding-bottom: 10px;
            }
        }
        .see{
            margin-top: 20px;
            border: 1px solid #e3e3e3;
            padding-top: 19px;
            padding-bottom: 19px;
            background: #f6f6f6;
            a{
                color: #333333;
                font-size: 16px;
            }
        }
        .order_details{
            margin-top: 20px;
            border: 1px solid #e3e3e3;
            padding-top: 19px;
            padding-bottom: 19px;
            .sees{
                margin-top: -20px;
                font-size: 12px;
            }
            .commodity_details{
                padding-top: 19px;
                height: 110px;
                ul{
                    li{
                        height: 110px;
                        float: left;
                        h4{
                            margin-top: 30px;
                            font-size: 14px;
                            color: #333333;
                            a{
                              color: #333333;  
                            }
                        }
                        p{
                            font-size: 12px;
                            color: #999999;
                        }
                    }
                    
                    li:first-child{
                        width: 110px;
                        height: 110px;
                        background: #f6f6f6;
                        text-align: center;
                        margin-left: 40px;
                        img{
                            margin-top: 15px;
                        }
                    }
                    li:nth-child(2){
                        margin-left: 20px;
                    }
                    li:nth-child(3){
                        margin-left: 120px;
                    }
                    li:nth-child(4){
                        margin-left: 99px;
                        h4{
                            margin-top: 0px;
                            margin-bottom: 10px;
                            a{
                                color: #333333;;
                            }
                        }
                    }
                    li:nth-child(5){
                        margin-left: 53px;
                        .btn{
                            width: 88px;
                            height: 28px;
                            border: 1px solid #c6c6c6;
                            background: #f7f7f7;
                            margin-left: 24px;
                            margin-top: 10px;
                            outline: none;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}
